.error_page {
    width: 60%;
    margin: 20% auto;
    text-align: center;

    h2 {
        font-size: 48px;
        color : #f2f2f2;
    }

    &__message {
        font-size: 24px;
        margin-top: 20px;
    }
}
