/**
 * Move Atlaskit Flag up a little bit so it does not cover the toolbar with the
 * first notification.
 */
.cxGWJB{
    bottom: calc(#{$newToolbarSizeWithPadding}) !important;
}
.gXSEsl:nth-child(n+2) {
    transform: translateX(0) translateY(100%) translateY(16px) !important;
    -ms-transform: translateX(0) translateY(100%) translateY(16px) !important;
    -webkit-transform: translateX(0) translateY(100%) translateY(16px) !important;
}

/**
 * Welcome page tab color adjustments.
 */
.welcome {
    /**
     * The text color of the selected tab and hovered tabs.
     */
    li.bcVmZW,
    li.bcVmZW:hover,
    li.kheoEp:hover {
        color: #172B4D;
    }

    /**
     * The color of the inactive tab text.
     */
    li.kheoEp {
        color: #FFFFFF;
    }

    /**
     * The color of the underline of a selected tab.
     */
    li>span.kByArU {
        background-color: #172B4D;
    }
}

.modal-dialog-form {
    /**
     * Update the dropdown trigger wrapper to make sure it looks click-able.
     */
    .gwEjuO {
        cursor: pointer;
    }

    /**
     * Override Atlaskit dropdown styling when in a modal because the dropdown
     * backgrounds clash with the modal backgrounds.
     */
    .gBLqhw[data-role=droplistContent] {
        border: 1px solid #455166;
    }
}