/**
 * Move the @atlaskit/flag container up a little bit so it does not cover the
 * toolbar with the first notification.
 */
.jIMojv{
    bottom: calc(#{$newToolbarSizeWithPadding}) !important;
}

/**
 * Disable the slide-in animation for @atlaskit/flag due to the animation
 * repeating for each queued flag once it becomes the top flag.
 */
 .mIBKA:first-child {
    animation: cbfRuT 0s !important;
    -webkit-animation: cbfRuT 0s !important;
}

.modal-dialog-form {
    /**
     * Update the @atlaskit/dropdown-menu trigger wrapper to make sure it looks
     * click-able.
     */
    .cjJUnw {
        cursor: pointer;
    }

    /**
     * Override @atlaskit/dropdown-menu styling when in a modal because the
     * dropdown backgrounds clash with the modal backgrounds.
     */
    .cksvax[data-role=droplistContent] {
        border: 1px solid #455166;
    }
}

/**
 * Override @atlaskit/theme styling for the top toolbar so it displays over
 * the video thumbnail while obscuring as little as possible.
 */
.videocontainer .tOoji {
    background: none;
}

/**
 * Override @atlaskit/InlineDialog styling for the overflowmenu so it displays
 * with the correct height.
 */
.toolbox-button-wth-dialog .eYJELv {
    max-height: initial;
}

/**
 * Override @atlaskit/modal-dialog and @atlaskit/button styling for pop-ups
 */

/**
 * Override pop-ups background color
 */
.eoRGoR,
.kuyJLl,
.eYJELv {
    background-color: $toolBarDesktopBackground !important;
}

/**
 * Override more actions pop-up
 */
.toolbox-button-wth-dialog .eYJELv {
    background-color: $chatInputBackground !important;
    border: 1px solid $borderColor !important;
}

/**
 * Override pop-ups text color
 */
.oQiLZ,
.eoRGoR {
    color: $participantNameColor !important;
}

.itZGfB,
.settings-pane .mock-atlaskit-label {
    color: $modalLabelsColor;
}

/**
 * Override pop-ups inputs background color
 */
.jsYMHu {
    background-color: $chatInputBackground !important;
}

/**
 * Override pop-ups inputs border color
 */
.dvocAg,
.jsYMHu {
    border-color: $modalInputsBorderColor;
}

/**
 * Override cancel and ok buttons styles
 */
.ldkQnA {
    .gUwyVH {
        background: $hangupColor !important;
    }

    .iuZaWk {
        background: $modalInputsBorderColor;
    }

    .iuZaWk,
    .gUwyVH {
        color: $participantNameColor !important;
    }
}

/**
 * Override alert styles
 */
.giDcAS {
    color: $participantNameColor;

    button {
        color: $subjectTextColor;
    }

    .fjkYSH {
        span {
            color: $participantNameColor;
        }
    }
}

/**
 * Override prejoin page dropdown
 */
.prejoin-preview-dropdown-container .eYJELv {
    background: $participantNameColor !important;
}

/**
 * Override alert styles on small resolutions
 */
.gpUwQx,
.mIBKA {
    @media (max-width: 480px) {
        width: 320px !important;
        left: -80px !important;
    }
}

/**
 * Override audio and video preview styles on small resolutions
 */
.audio-preview .etGiXB > div {
    @media (max-width: 540px) {
        left: -65px !important;
    }
}

.video-preview .etGiXB > div {
    @media (max-width: 490px) {
        left: 100px !important;
    }
}

/**
 * Override tile view pop-ups styles
 */
.tile-view #filmstripRemoteVideos {
    .etGiXB > div {
        @media (max-width: 650px) {
            transform: translate3d(50px, 280px, 0) !important;
        }
    }

    .show-connection-indicator .etGiXB > div {
        @media (max-width: 600px) {
            transform: translate3d(50%, 300px, 0) !important;
        }
    }
}

/**
 * Override audio preview styles on prejoin page
 */
.prejoin-preview-btn-container .audio-preview .etGiXB > div {
    @media (max-width: 560px) {
        left: -110px !important;
    }
}

/**
 * Override settings styles on devices tab
 */
.YymJg {
    @media (min-width: 481px) and (max-width: 550px) {
        max-width: calc(100% - 50px) !important;
    }
}
