.avatar {
    align-items: center;
    background-color: #AAA;
    display: flex;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
    justify-content: center;
    object-fit: cover;
}

.avatar-foreign {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 40pt;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.avatar-svg {
    height: 100%;
    width: 100%;
}

.defaultAvatar {
    opacity: 0.6
}