.avatar {
    background-color: #AAA;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
    object-fit: cover;

    @media (max-width: $desktopWidth) {
        height: 140px !important;
        width: 140px !important;
    }

    @media (max-width: $mobileWidth) {
        width: 110px !important;
        height: 110px !important;
    }

    &.avatar-small {
        height: 28px !important;
        width: 28px !important;
    }

    &.avatar-xsmall {
        height: 16px !important;
        width: 16px !important;
    }

    .jitsi-icon {
        transform: translateY(50%);
    }
}

.avatar-svg {
    height: 100%;
    width: 100%;
}

.defaultAvatar {
    opacity: 0.6
}

.avatar-badge {
    position: relative;

    &-available::after {
        @include avatarBadge;
        background-color: $presence-available;
    }

    &-away::after {
        @include avatarBadge;
        background-color: $presence-away;
    }

    &-busy::after {
        @include avatarBadge;
        background-color: $presence-busy;
    }

    &-idle::after {
        @include avatarBadge;
        background-color: $presence-idle;
    }
}
