/**
 * Safari will limit input in input elements to one character when user-select
 * none is applied. Other browsers already support selecting within inputs while
 * user-select is none. As such, disallow user-select except on inputs.
 */
* {
    -webkit-user-select: none;
    user-select: none;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    color: $defaultColor;
    background: $defaultBackground;
    display: flex;
    flex-direction: column;

    &.filmstrip-only {
        background: transparent;
    }
}
  
header {
    display: block;

    .section-header {
        width: 100%;
        background-color: $ADFC-orange;
        position: relative;
        height: auto;
    }

    section {
        width: 100%;
        clear: both;
        background-size: cover;
        background-position: 50%;
        position: relative;
        display: block;
    }

    /* media query */
    .sectioncontainer {
        width: 80%;
    }

    .sectioncontainer {
        position: relative;
        height: auto;
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    h4 {
        font-weight: 300;
        color: $baseLight;
        line-height: 2rem;
        letter-spacing: .05rem;
        font-size: 1rem;
    }    
}

main {
    flex: 1;
}

footer {
    display: block;

    .section-footer {
        width: 100%;
        background-color: $ADFC-footerColor;
        position: relative;
        height: auto;
    }

    section {
        width: 100%;
        clear: both;
        background-size: cover;
        background-position: 50%;
        position: relative;
        display: block;
    }

    /* media query */
    .sectioncontainer {
        width: 80%;
    }

    .sectioncontainer {
        position: relative;
        height: auto;
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
    }

    li, ul {
        margin: 0;
        padding: 0;
    }

    ul {
        display:inline-block;        
        list-style: none;
        position: relative;
        bottom: 0.1rem;
        margin: 0 0 1rem 1.25rem;
        list-style-type: none;
        list-style-position: outside;
        line-height: 1.6;
    }

    li {
        float: left;
        line-height: 1rem;
        padding-right: 1rem;
        margin: 0;
        padding: 0 0 0 2rem;
        font-size: inherit;
        color: $baseLight;
        background-color: transparent;
    }

    a, a:hover {
        color: $baseLight;
        padding-bottom: 0;
        font-size: 12px;
        text-decoration: none;
        line-height: inherit;
        cursor: pointer;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
}

.h4, h4 {
    font-size: 22px;
    font-variant-ligatures: none;
    font-weight: 100;
}

.h3, .h4, h3, h4 {
    font-family: roboto, arial, sans-serif;
}

h2 {
    font-size: 36px;
    font-variant-ligatures: none;
    font-weight: 100;
    line-height: 1.2em;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    text-align: left;
}
h2 {
    font-variant-ligatures: none;
    font-family: roboto, arial, sans-serif;
    font-weight: 100;
    color: #000;
    text-align: left;
    font-size: 22px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
        padding-top: 0px;
        padding-bottom: 0px;
}
h2 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizeLegibility;
}

.jitsi-icon svg {
    fill: $ADFC-orange;
}

.jitsi-icon.gray svg {
    fill: #5E6D7A;
    cursor: pointer;
}

/**
 * AtlasKitThemeProvider sets a background color on an app-wrapping div, thereby
 * preventing transparency in filmstrip-only mode. The selector chosen to
 * override this behavior is specific to where the AtlasKitThemeProvider might
 * be placed within the app hierarchy.
 */

.filmstrip-only #react > .ckAJgx {
    background: transparent;
}

p {
    margin: 0;
}

body, input, textarea, keygen, select, button {
    font-family: $baseFontFamily !important;
}

#nowebrtc {
    display:none;
}

button, input, select, textarea {
    margin: 0;
    vertical-align: baseline;
    font-size: 1em;
}

button, select, input[type="button"],
input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

textarea {
    word-wrap: break-word;
    resize: none;
    line-height: 1.5em;
}

input[type='text'], input[type='password'], textarea {
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
}

button {
    color: #FFF;
    background-color: $buttonBackground;
    border-radius: $borderRadius;

    &.no-icon {
        padding: 0 1em;
    }
}

button,
form {
    display: block;
}

.watermark {
    display: block;
    position: absolute;
    top: 15;
    width: $watermarkWidth;
    height: $watermarkHeight;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: $zindex2;
}

.leftwatermark {
    left: 32px;
    top: 32px;
    background-image: url($defaultWatermarkLink);
    background-position: center left;
}

.rightwatermark {
    right: 32px;
    top: 32px;
    background-position: center right;
}

.poweredby {
    position: absolute;
    left: 25;
    bottom: 7;
    font-size: 11pt;
    color: rgba(255,255,255,.50);
    text-decoration: none;
    z-index: $poweredByZ;
}

.connected {
    color: #21B9FC;
    font-size: 12px;
}

.lastN, .disconnected {
    color: #a3a3a3;
    font-size: 12px;
}

/**
* Dialogs fade
*/
.aui-blanket {
    background: #000;
    transition: opacity 0.2s, visibility 0.2s;
    transition-delay: 0.1s;
    visibility: visible;
}

#inviteLinkRef {
    -webkit-user-select: text;
    user-select: text;
}

/**
 * Re-style default OS scrollbar.
 */
::-webkit-scrollbar {
    background: transparent;
    width: 7px;
    height: $scrollHeight;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
}
