/**
 * Safari will limit input in input elements to one character when user-select
 * none is applied. Other browsers already support selecting within inputs while
 * user-select is none. As such, disallow user-select except on inputs.
 */
* {
    -webkit-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'ProximaNovaLtLight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Light-webfont.eot');
    src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Light-webfont.svg#ProximaNovaLtLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaLtBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Bold-webfont.eot');
    src: url('../fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold-webfont.svg#ProximaNovaLtLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaLtReg';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaLtLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaLtSbold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaLtLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaLtThin';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ProximaNova-Thin-webfont.eot');
    src: url('../fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Thin-webfont.woff') format('woff'),
    url('../fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
    url('../fonts/ProximaNova-Thin-webfont.svg#ProximaNovaLtLight') format('svg');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.animate-flicker {
    animation: fadeIn 1s infinite alternate;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    color: $defaultColor;
    background: $defaultBackground;
    &.filmstrip-only {
        background: transparent;
    }
}

/**
 * AtlasKit sets a default margin on the rendered modals, so
 * when the shift-right class is set when the chat opens, we
 * pad the modal container in order for the modals to be centered
 * while also taking the chat size into consideration.
*/
@media (min-width: 480px + $sidebarWidth) {
    .shift-right [class^="Modal__FillScreen"] {
        padding-left: $sidebarWidth;
    }
}

/**
 * Similarly, we offset the notifications when the chat is open by
 * padding the container.
*/
.shift-right [class^="styledFlagGroup-"] {
    padding-left: $sidebarWidth;
}

.jitsi-icon svg {
    fill: white;
}

.jitsi-icon.gray svg {
    fill: #5E6D7A;
    cursor: pointer;
}

/**
 * AtlasKitThemeProvider sets a background color on an app-wrapping div, thereby
 * preventing transparency in filmstrip-only mode. The selector chosen to
 * override this behavior is specific to where the AtlasKitThemeProvider might
 * be placed within the app hierarchy.
 */
.filmstrip-only #react > .ckAJgx {
    background: transparent;
}

p {
    margin: 0;
}

body, input, textarea, keygen, select, button {
    font-family: $baseFontFamily !important;
}

#nowebrtc {
    display: none;
}

button, input, select, textarea {
    margin: 0;
    vertical-align: baseline;
    font-size: 1em;
}

button, select, input[type="button"],
input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

textarea {
    word-wrap: break-word;
    resize: none;
    line-height: 1.5em;
}

input[type='text'], input[type='password'], textarea {
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
}

button {
    color: #FFF;
    background-color: $buttonBackground;
    border-radius: $borderRadius;

    &.no-icon {
        padding: 0 1em;
    }
}

button,
form {
    display: block;
}

.watermark {
    position: relative;
    top: 32px;
    left: 32px;
    min-width: 120px;
    height: 74px;
    z-index: 2;
}

.leftwatermark {
    position: absolute;
    background-image: url($defaultWatermarkLink);
    background-position: center left;
    width: $watermarkWidth;
    height: $watermarkHeight;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: $zindex2;
}

.waitingMessage {
    padding-left: 120px;
    padding-top: 5px;
    text-align: left;
    color: $defaultDarkColor !important;

    p {
        font-family: "ProximaNovaLtLight";

        &:first-child {
            font-size: 24px;
        }

        &:last-child {
            font-size: 18px;
        }
    }

    @media all and (max-width: 800px) {
        padding-left: 0;
        padding-top: 85px;
        p {
            &:first-child {
                font-size: 16px;
            }

            &:last-child {
                font-size: 14px;
            }
        }
    }
}

.rightwatermark {
    right: 32px;
    top: 32px;
    background-position: center right;
}

.poweredby {
    position: absolute;
    left: 25;
    bottom: 7;
    font-size: 11pt;
    color: rgba(255, 255, 255, .50);
    text-decoration: none;
    z-index: $poweredByZ;
}

.connected {
    color: #21B9FC;
    font-size: 12px;
}

.lastN, .disconnected {
    color: #a3a3a3;
    font-size: 12px;
}

/**
* Dialogs fade
*/
.aui-blanket {
    background: #000;
    transition: opacity 0.2s, visibility 0.2s;
    transition-delay: 0.1s;
    visibility: visible;
}

#inviteLinkRef {
    -webkit-user-select: text;
    user-select: text;
}

/**
 * Re-style default OS scrollbar.
 */
::-webkit-scrollbar {
    background: transparent;
    width: 7px;
    height: $scrollHeight;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track-piece {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
}
