#sideToolbarContainer {
    background-color: $newToolbarBackgroundColor;

    /**
     * Make the sidebar flush with the top of the toolbar. Take the size of
     * the toolbar and subtract from 100%.
     */
    height: calc(100% - #{$newToolbarSizeWithPadding});
    left: -$sidebarWidth;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: left 0.5s;
    width: $sidebarWidth;
    z-index: $sideToolbarContainerZ;

    /**
     * The sidebar (chat) is off-screen when hidden. Move it flush to the left
     * side of the window when it should be visible.
     */
    &.slideInExt {
        left: 0;
    }

    .sideToolbarContainer__inner {
        box-sizing: border-box;
        color: #FFF;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: $sidebarWidth;
    }
}

#chat_container * {
    -webkit-user-select: text;
    user-select: text;
}

#chatconversation {
    box-sizing: border-box;
    flex: 1;
    font-size: 10pt;
    line-height: 20px;
    overflow: auto;
    padding: 16px;
    text-align: left;
    width: $sidebarWidth;
    word-wrap: break-word;

    a {
        display: block;
    }

    a:link {
        color: rgb(184, 184, 184);
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: rgb(213, 213, 213);
    }

    a:active {
        color: black;
    }

    &::-webkit-scrollbar {
        background: #06a5df;
        width: 7px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-track-piece {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background: #06a5df;
        border-radius: 4px;
    }
}

.chat-header {
    background-color: rgba(42, 58, 75, 0.9);
    height: 70px;
    position: relative;
    width: 100%;
    z-index: 1;

    .chat-close {
        align-items: center;
        bottom: 8px;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 18px;
        height: 40px;
        justify-content: center;
        line-height: 15px;
        padding: 4px;
        position: absolute;
        right: 5px;
        width: 40px;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

#chat-input {
    border-top: 1px solid #A4B8D1;
    display: flex;

    * {
        background-color: transparent;
    }
}

.remoteuser {
    color: #B8C7E0;
}

.usrmsg-form {
    flex: 1;
}

#usermsg {
    border: 0px none;
    border-radius:0;
    box-shadow: none;
    color: white;
    font-size: 10pt;
    line-height: 30px;
    padding: 5px;
    max-height:150px;
    min-height:35px;
    overflow-y: auto;
    resize: none;
    width: 100%;
    word-break: break-word;
}

#usermsg:hover {
    border: 0px none;
    box-shadow: none;
}

#nickname {
    text-align: center;
    color: #9d9d9d;
    font-size: 18px;
    margin-top: 30px;
    left: 5px;
    right: 5px;
}

#chat_container .display-name {
    float: left;
    padding-left: 5px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
    overflow: hidden;
}

#chat_container .timestamp {
    float: right;
    padding-right: 5px;
    font-size: 11px;
}

.usermessage {
    padding-top: 20px;
    padding-left: 5px;
}

.chatmessage {
    background-color: rgba(240, 243, 247, 0.15);
    border-radius: 0px 6px 6px 6px;
    margin-top: 3px;
    color: white;
    padding-bottom: 3px;
    position: relative;

    &.localuser {
        background-color: rgba(26, 108, 180, 1);
        border-radius: 6px 0px 6px 6px;
    }

    &.error {
        border-radius: 0px;

        .timestamp,
        .display-name {
            display: none;
        }

        .usermessage {
            color: red;
            padding: 0;
        }
    }
}

.smiley {
    font-size: 14pt;
}

#smileys {
    font-size: 20pt;
    margin: auto;
    cursor: pointer;
}

#smileys img {
    width: 22px;
    padding: 2px;
}

#smileysarea {
    display: flex;
    max-height: 150px;
    min-height: 35px;
    overflow: hidden;
}

.smiley-input {
    display: flex;
    position: relative;
}

.smileys-panel {
    bottom: 100%;
    box-sizing: border-box;
    height: auto;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: $sidebarWidth;

    /**
     * CSS transitions do not apply for auto dimensions. So to produce the css
     * accordion effect for showing and hiding the smiley-panel, while allowing
     * for variable panel, height, use a very large max-height and animate off
     * of that.
     */
    transition: max-height 0.3s;

    &.show-smileys {
        max-height: 500%;
    }

    #smileysContainer {
        background-color: $newToolbarBackgroundColor;
        border-bottom: 1px solid;
        border-top: 1px solid;
    }
}

#smileysContainer .smiley {
    font-size: 20pt;
}

.smileyContainer {
    width: 40px;
    height: 36px;
    display: inline-block;
    text-align: center;
}

.smileyContainer:hover {
    background-color: $newToolbarButtonToggleColor;
    border-radius: 5px;
    cursor: pointer;
}

#usermsg::-webkit-input-placeholder {
    line-height: 30px;
}

#usermsg::-webkit-scrollbar-track-piece {
    background: #3a3a3a;
}
