#contactlist {
    display: none;
    background-color: black;
    cursor: default;

    > div.title {
        text-align: left;
        padding: 7px 10px;
        margin: 2px;
        color: #21B9FC;
        font-size: 11pt;
        border-bottom: 1px solid #676767;

        > span {
            margin-left: 5px;
        }
    }

    > ul#contacts {
        position: absolute;
        top: 31px;
        bottom: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .clickable {
        cursor: pointer;
    }
}

#contacts {

    >li {
        list-style-type: none;
        text-align: left;
        color: #FFF;
        font-size: 10pt;
        padding: 7px 10px;
        margin: 2px;

        > p {
            display: inline-block;
            vertical-align: middle;
            margin: 0px;
        }
    }
}


.avatar {
    padding: 0px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 22pt;
    border-radius: 20px;
    max-height: 30px;
    max-width: 30px;
}