#contacts_container {
    cursor: default;

    > ul#contacts {
        font-size: 12px;
        bottom: 0px;
        margin: 0;
        margin-top: 12px;
        padding: 0px;
        width: 100%;
    }

    .clickable {
        cursor: pointer;
    }

    .icon-security,
    .icon-security-locked {
        font-size: 16px;
    }
}

#contacts {

    >li {
        display: block;
        list-style-type: none;
        text-align: left;
        white-space: nowrap;
        color: $baseLight;
        font-size: 16px;
        padding: 0 10%;
        height: 27px;

        &:hover,
        &:active {
            background: $toolbarSelectBackground;
        }

        > p {
            display: inline-block;
            vertical-align: middle;
            margin: 0px;
            width: 100%;
            line-height: 1.5em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}


.avatar {
    padding: 0px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 22pt;
    border-radius: 20px;
    max-height: 30px;
    max-width: 30px;
}