#contacts_container {
    cursor: default;

    #contacts {
        font-size: 12px;
        bottom: 0px;
        margin: 0;
        margin-top: 12px;
        padding: 0px;
        width: 100%;
    }

    .clickable {
        cursor: pointer;
    }
}

#contacts {
    .contact-list-item {
        align-items: center;
        border-radius: 3px;
        color: $baseLight;
        display: flex;
        font-size: 14px;
        height: 36px;
        list-style-type: none;
        padding: 0 10%;
        text-align: left;
        white-space: nowrap;

        &:hover,
        &:active {
            background: $toolbarSelectBackground;
        }

        .contact-list-item-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .avatar {
            cursor: pointer;
            height: 24px;
            margin: 0 8px 0 4px;
            width: 24px;
        }
    }
}


.avatar {
    padding: 0px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 22pt;
    border-radius: 20px;
    max-height: 30px;
    max-width: 30px;
}
