%connection-info {
    font-size: 12px;
    font-weight: 400;

    td {
        padding: 2px 0;
    }
}

.connection-info
{
    @extend %connection-info;

    > table {
        white-space: nowrap;
        @extend %connection-info;
    }

    td:nth-child(n-1) {
        padding-left: 5px;
    }

    &__icon {
        margin-right: 2px;
    }

    &__download
    {
        @extend .connection-info__icon;
    }

    &__status
    {
        font-weight: bold;
    }

    &__upload
    {
        @extend .connection-info__icon;
    }

    &__mobile {
      margin: 15px;
    }

    .connection-actions {
        margin: 10px auto;
        text-align: center;
    }
}
