.settingsContent {
    display: flex;
    display: -webkit-flex;

    #localVideoPreview {
        width: 50%;
        align-self: baseline;
    }

    .deviceSelection {
        display: flex;
        display: -webkit-flex;
        -webkit-flex: 1;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: left;
        margin-left: 10px;

        .device {
            display: flex;
            margin-bottom: 5px;

            select {
                flex: 1;
                margin_right: 5px;
            }
        }
    }
}