.drawer-portal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 351;
    border-radius: 16px 16px 0 0;

    &.notification-portal {
        z-index: 901;
    }
}

.drawer-portal::after {
    content: '';
    background-color: #141414;
    margin-bottom: env(safe-area-inset-bottom, 0);
}

.drawer-menu-container {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.drawer-menu {
    overflow-y: auto;
    margin-bottom: env(safe-area-inset-bottom, 0);
    width: 100%;

    &#{&} .overflow-menu {
        margin: auto;
        font-size: 1.2em;
        list-style-type: none;
        padding: 0;
        height: calc(80vh - 144px - 64px);
        overflow-y: auto;

        .overflow-menu-item {
            box-sizing: border-box;
            height: 48px;
            padding: 12px 16px;

            align-items: center;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-size: 16px;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &.disabled {
                cursor: initial;
                color: #3b475c;
            }
        }
    }
}
