/**
 * The feedback window inner div css.
 */
.feedback {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 22px;
}

/**
 * Style of the thank you text inside the feedback window.
 */
.feedbackTitle {
    font-size: 22px;
    color: #087dba;
}

/**
 * Stars div css.
 */
#stars {
    font-size: 30px;
}

/**
 * Star css.
 */
#stars>a {
    padding-right: 4px;
}

/**
 * Mouse over a star.
 */
.starHover {
    color: #087dba;
}

/**
 * Detailed feedback section text area style.
 */
.feedbackDetails textarea {
    resize: vertical;
    min-height: 100px;
}