.filmstrip {
    &__videos {
        @include flex();
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;

        position:absolute;
        text-align:right;
        height:196px;
        padding: 10px 10px 17px 5px;
        bottom: 0;
        right: 0;
        width:auto;
        border: 2px solid transparent;
        z-index: 5;
        transition: bottom 2s;
        overflow: visible !important;
        font-size: 0pt; /*!!!Removes the gap between the local video container and the remote videos.*/

        &.hidden {
            bottom: -196px;
        }

        .videocontainer {
            display: none;
            position: relative;
            background-size: contain;
            border: 2px solid transparent;
            border-radius:1px;
            margin: 0 $thumbnailVideoMargin;

            &.videoContainerFocused, &:hover {
                cursor: hand;
            }

            /**
            * Focused video thumbnail.
            */
            &.videoContainerFocused {
                transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -webkit-animation-name: greyPulse;
                -webkit-animation-duration: 2s;
                -webkit-animation-iteration-count: 1;
                border: 2px solid $videoThumbnailSelected !important;
                box-shadow: inset 0 0 3px $videoThumbnailSelected,
                0 0 3px $videoThumbnailSelected !important;
            }

            /**
            * Hovered video thumbnail.
            */
            &:hover {
                cursor: hand;
                border: 2px solid $videoThumbnailHovered;
                box-shadow: inset 0 0 3px $videoThumbnailHovered,
                0 0 3px $videoThumbnailHovered;
            }

            /* With TemasysWebRTC plugin <object/> element is used
            instead of <video/> */
            & > video,
            & > object {
                cursor: hand;
                border-radius:1px;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }
}

.filmstripToolbar + #remoteVideos {
    padding-right: 24px;
}