.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon-au {
    background-image: url(../images/countries/au.svg);
}
.flag-icon-ca {
    background-image: url(../images/countries/ca.svg);
}
.flag-icon-de {
    background-image: url(../images/countries/de.svg);
}
.flag-icon-gb {
    background-image: url(../images/countries/gb.svg);
}
.flag-icon-fr {
    background-image: url(../images/countries/fr.svg);
}
.flag-icon-us {
    background-image: url(../images/countries/us.svg);
}
