html, body {
    width: 100%;
    height:100%;
    background: $defaultBackground;
    color: $defaultLightFontColor;
}

.close-message {
    width: 40%;
    margin: 20% auto;
    text-align: center;
    .thanks-msg {
        border-bottom: 1px solid $defaultLightFontColor;
        padding-left: 30px;
        padding-right: 30px;
        p {
            margin: 30px auto;
            font-size: 24px;
            line-height: 24px;
        }
    }
    .hint-msg{
        padding-left: 40px;
        padding-right: 40px;
        p {
            margin: 26px auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            .hint-msg__holder{
                font-weight: 200;
            }
        }
        .happy-software{
            width: 120px;
            height: 86px;
            margin: 0 auto;
            background: $happySoftwareBackground;
        }
    }
}
