.interactive-mic {
    .mic-layer {
        width: 2px;
        height: 5px;
        margin-left: -1px;
        position: absolute;
        top: 3px;
        left: 50%;
    }

    .mic-back {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #444;
    }

    .mic-level {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
    }
}

.videocontainer .interactive-mic {
    position: relative;
}