.jane-waiting-area {
    &-full-page {
        font-family: "ProximaNovaLtReg" !important;
        background: $waitingAreaPageBackground;
        position: absolute;
        width: 100%;
        height: 100%;

        .watermark {
            position: absolute;
        }
    }

    &-modal {
        margin: 0 auto;
        text-align: center;
        width: 305px;
        border: solid 1px $waitingAreaInfoBoxBorder;
        border-radius: 2px;
        background: $waitingAreaInfoBoxBackground;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 500;
    }

    &-modal-dialog {
        display: flex;
        flex-direction: column;
    }

    &-modal-logo-wrapper {
        padding: 4vh 1.4vh;
        text-align: left;
    }

    &-modal-logo {
        background-image: url($defaultWatermarkLink);
        background-position: center;
        width: 8.8vh;
        height: 7vh;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: $zindex2;
    }

    &-modal-patient-waiting-badge {
        background: #5cb85c;
        border-radius: 10px;
        font-size: 12px;
        color: $defaultColor;
        margin-top: 20px;
        margin-bottom: -20px;
        line-height: 20px;
        width: 103px;
        display: inline-block;
        text-align: center;
    }

    &-modal-text-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0px 1.4vh;
    }

    &-modal-title {
        font-size: 2.5vh;
        text-align: left;
        color: $waitingAreaInfoTitleColor;
        font-weight: 600;
        line-height: 2.5vh;
    }

    &-modal-title-msg {
        font-size: 2vh;
        text-align: left;
        color: $waitingAreaInfoMsgColor;
        margin-top: 4vh;
        line-height: 2.5vh;
        font-family: ProximaNovaLtReg !important;
    }

    &-modal-detail {
        font-size: 2vh;
        text-align: left;
        margin-top: 4vh;
        line-height: 2.2vh;
        color: $waitingAreaInfoDetailColor;
        font-weight: 600;
    }

    &-btn {
        border-radius: 3px;
        color: $defaultColor;
        cursor: pointer;
        display: inline-block;
        line-height: 3.4vh;
        font-size: 1.4vh;
        padding: 0px 2.4vh;
        position: relative;
        text-align: center;
        min-width: 10vh;
        margin-top: 2.8vh;
        &--primary {
            background: $janeBlue;
        }

        &--available {
            background: rgb(110, 176, 5);
            border: 1px solid rgb(110, 176, 5);
        }

        &--secondary {
            background: #2A3A4B;
            border: 1px solid #5E6D7A;
        }

        &--close {
            margin-top: 1.6vh;
            background: #fff;
            color: #333;
            border: solid 1px #ccc;
        }

        &--text {
            width: auto;
            font-size: 1.3vh;
            margin: 0;
            padding: 0;
        }

        &--disabled {
            background: #DDDDDD;
            border: 1px solid #DDDDDD;
            color: $waitingAreaInfoDetailColor;
            cursor: initial;

            .jane-waiting-area-btn-icon {
                & > svg {
                    fill: #AFB6BC;
                }
            }

            .jane-waiting-area-btn-options {
                border-left: 1px solid #AFB6BC;
            }
        }
    }

    &-btn-options {
        align-items: center;
        border-left: 1px solid #fff;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 4vh;
    }

    &-text-btns {
        display: flex;
        justify-content: space-between;
    }

    @media all and (max-width: 768px) {
        &-modal {
            width: 300px;
            position: absolute;
            height: auto;
            bottom: 120px;
            left: 0;
            right: 0;
            top: unset;
            z-index: 500;
        }

        &-modal-dialog {
            flex-direction: row;
        }

        &-modal-logo-wrapper {
            padding: 20px 15px;
        }

        &-modal-logo {
            width: 40px;
            height: 40px;
            margin: auto;
        }

        &-modal-patient-waiting-badge {
            font-size: 10px;
            margin-top: 10px;
            line-height: 15px;
            margin-bottom: 0px;
            width: 85px;
        }

        &-modal-text-wrapper {
            padding: 22px 20px 25px 0;
        }

        &-modal-title {
            font-size: 14px;
            line-height: 20px;
        }

        &-modal-title-msg {
            font-size: 10px;
            line-height: 12px;
            margin-top: 15px;
        }

        &-modal-detail {
            font-size: 10px;
            line-height: 12px;
            margin-top: 15px;
        }

        &-btn {
            padding: 0px 9px;
            margin-top: 16px;
            min-width: 100px;
            font-size: 12px;
            line-height: 24px;
        }
    }
}

@mixin name-placeholder {
    color: #fff;
    font-weight: 300;
    opacity: 0.6;
}

.jane-waiting-area-preview {
    height: 100%;
    position: absolute;
    width: 100%;

    &--no-video {
        background: radial-gradient(50% 50% at 50% 50%, #5B6F80 0%, #365067 100%), #FFFFFF;
        text-align: center;
    }

    &-ready-btn {
        margin-bottom: 10px;
    }

    &-video {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
    }

    &-name {
        color: #fff;
        font-size: 19px;
        line-height: 28px;

        &--editable {
            background: none;
            border: 0;
            border-bottom: 1px solid #D1DBE8;
            margin: 24px 0 16px 0;
            outline: none;
            text-align: center;
            width: 100%;

            &::-webkit-input-placeholder {
                @include name-placeholder;
            }

            &::-moz-placeholder {
                @include name-placeholder;
            }

            &:-ms-input-placeholder {
                @include name-placeholder;
            }
        }

        &--text {
            margin: 16px 0;
            outline: none;
        }
    }

    &-avatar.avatar {
        background: #A4B8D1;
        margin: 200px auto 0 auto;
    }

    &-btn-container {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        width: 100%;
        position: absolute;
        bottom: 48px;
        z-index: 2;
        & > div {
            margin: 0 12px;
        }

        .settings-button-small-icon {
            right: -8px;

            &--hovered {
                right: -10px;
            }
        }
    }

    &-overlay {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }

    &-bottom-overlay {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        bottom: 0;
        height: 50%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &-status {
        align-items: center;
        bottom: 0;
        color: #fff;
        display: flex;
        font-size: 13px;
        min-height: 24px;
        justify-content: center;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;

        &--warning {
            background: rgba(241, 173, 51, 0.5)
        }

        &--ok {
            background: rgba(49, 183, 106, 0.5);
        }
    }

    &-icon {
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        margin-right: 8px;
        width: 16px;
    }

    &-error-desc {
        margin-right: 4px;
    }

    .settings-button-container {
        width: 49px;
        margin: 0 8px;
    }

    &-join-btn-container {
        text-align: left;
        padding-left: 14px;
        @media all and (max-width: 768px) {
            min-height: 64px;
            border-top: solid 1px #ccc;
            text-align: center;
            padding-left: 0;
        }
    }
}
