.large-video-labels {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: right 0.5s;
    z-index: $zindex3;

    @media (max-width: $desktopWidth) {
        position: static;
    }

    .circular-label {
        align-items: center;
        background: $toolBarDesktopBackground;
        color: $subjectTextColor;
        display: flex;
        font-weight: bold;
        justify-content: center;
        margin-left: 8px;
        opacity: 0.8;

        @media (max-width: $desktopWidth) {
            position: absolute;
            z-index: $zindex10 !important;
            top: 16px;
            left: 24px;
            opacity: 1;
        }

        &.e2ee {
            align-items: center;
            background: #76CF9C;
            display: flex;
            justify-content: center;
        }

        &.file,
        &.local-rec {
            background: #FF5630;
        }

        &.stream {
            background: #0065FF;
        }

        &.insecure {
            background: $defaultWarningColor;
        }
    }

    .recording-label.center-message {
        background: $videoStateIndicatorBackground;
        bottom: 50%;
        display: block;
        left: 50%;
        padding: 10px;
        position: fixed;
        transform: translate(-50%, -50%);
        z-index: $centeredVideoLabelZ;
    }
}

.circular-label {
    background: $videoStateIndicatorBackground;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: default;
    font-size: 13px;
    height: $videoStateIndicatorSize;
    line-height: $videoStateIndicatorSize;
    text-align: center;
    min-width: $videoStateIndicatorSize;
}