/*Initialize*/
div.loginmenu {
    position: absolute;
    margin: 0;
    padding: 5px;
    top: 40px;
    left: 20px;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
}

.loginmenu.extendedToolbarPopup {
    top: 20px;
    left: 40px;
}