.jqistates {
    font-size: 14px;
}

.jqistates h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #424242;
}

.jqistates input {
    margin: 10px 0;
}

.jqistates input[type='text'], input[type='password'] {
    width: 100%;
}

button.jqidefaultbutton #inviteLinkRef {
    color: #ed7d0e;
}

#inviteLinkRef {
    -webkit-user-select: text;
    user-select: text;
}