.notice {
    position: relative;
    z-index: 3;
    margin-top: 6px;

    &__message {
        background-color: #000000;
        color: white;
        padding: 3px;
        border-radius: 5px;
    }
}
