.notice {
    position: absolute;
    left: 50%;
    z-index: $zindex3;
    margin-top: 6px;

    @include transform(translateX(-50%));

    &__message {
        background-color: #000000;
        color: white;
        padding: 3px;
        border-radius: 5px;
    }
}
