
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1013;
    background: #21B9FC; /* Old browsers */
    opacity: 0.75;
    display: block;
}

.overlay_transparent {
    background: rgba(22, 185, 252, .9);
}

.overlay_container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1013;
}

.overlay_content {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    position:absolute;
    margin-top: -125px;
    margin-left: -200px;
}

.overlay_avatar {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100px;
    z-index: 1013;
    float: left;
    margin-left: 100px;
}

.overlay_text {
    position: relative;
    width: 400px;
    z-index: 1013;
    margin-top: 50px;
    float: left;
}

.overlay_text_small {
    font-size: 18px;
}

.overlay_icon {
    position: relative;
    z-index: 1013;
    float: none;
    font-size: 100px;
}
