.participants-count {
    background: $participantsCountBackground;
    border-radius: 4px;
    color: $participantsCountColor;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 20px;
    padding: 4px 8px;
    pointer-events: auto;

    &-number {
        margin-left: 5px;
        vertical-align: middle;
    }

    &-icon {
        background: url('../images/user-groups.svg');
        background-repeat: no-repeat;
        display: inline-block;
        align-self: center;
        height: 15px;
        width: 18px;
        vertical-align: middle;
        order: -1;
    }
}
