#poll-items-list {
    list-style-type: none;
}
#poll-item {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    min-height: 20px;
}
#poll-item-radio {
    margin-right: 5px;
}
#poll-item-text {
    width: 200px;
    padding: 5px;
    min-height: 20px;
}
#poll-item-votes {
    margin-left: 5x;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #666;
    text-align: center;
}
#poll-item-button {
    margin-left: 5px;
}
.new-poll-button {
    width: 50px;
    height: 50px;
    text-align: center;
}
#poll-create-form {
    width: 500px;
}