.policy {
    &__logo {
        display: block;
        width: 200px;
        height: 50px;
        margin: 30px auto 0;
    }

    &__text {
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
    }
}