/*Initialize*/
ul.popupmenu {
    padding: 0;
    margin: 2px 0;
    bottom: 0;
    width: 100px;
    height: auto;
}

ul.popupmenu li {
    list-style-type: none;
    text-align: left;
}

ul.popupmenu li:hover {
    background-color: $popupMenuSelectedItemBackground;
}

/*Link Appearance*/
ul.popupmenu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 9pt;
    width: 100%;
    cursor: hand;
}

ul.popupmenu li a i.icon-kick {
    font-size: 8pt;
}

ul.popupmenu li a span {
    display: inline-block;
    width: 20px;
    height: 16px;
    text-align: center;
}

ul.popupmenu li a div {
    display: inline-block;
    line-height: 25px;
}

ul.popupmenu li a i {
    line-height: 25px;
}

span.remotevideomenu:hover ul.popupmenu, ul.popupmenu:hover {
    display:block !important;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
}