.prejoin {

    &-input-area {
        margin: 0 auto;
        text-align: center;
    }

    &-title {
        color: #fff;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    &-text-btns {
        display: flex;
        justify-content: space-between;
    }

    &-input-label {
        color: #A4B8D1;
        font-size: 13px;
        line-height: 20px;
        margin-top: 32px 0 8px 0;
        text-align: center;
        width: 100%;
    }

    &-checkbox {
        border: 0;
        height: 16px;
        margin-right: 8px;
        padding: 0;
        width: 16px;
    }

    &-checkbox-container {
        margin-bottom: 14px;
        width: 100%;
    }

    &-error {
        color: white;
        background-color: rgba(225, 45, 45, 0.6);
        border-radius: 3px;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        margin-top: 4px;
        font-size: 13px;
        text-align: center;
    }
}

@mixin name-placeholder {
    color: #fff;
    font-weight: 300;
    opacity: 0.6;
}

.prejoin-preview {
    &-status {
        align-items: center;
        align-self: stretch;
        bottom: 0;
        color: #fff;
        display: flex;
        font-size: 13px;
        min-height: 24px;
        justify-content: center;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;

        &--warning {
            background: rgba(241, 173, 51, 0.7)
        }
        &--ok {
            background: rgba(49, 183, 106, 0.7);
        }
    }

    &-icon {
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        margin-right: 8px;
        width: 16px;
    }

    &-error-desc {
        margin-right: 4px;
    }

    .settings-button-container {
        width: 49px;
        margin: 0 8px;
    }

    &-dropdown-btns {
        width: 320px;
        padding: 8px 0;
    }

    &-dropdown-btn {
        align-items: center;
        color: #1C2025;
        cursor: pointer;
        display: flex;
        height: 40px;
        font-size: 15px;
        line-height: 24px;
        padding: 0 16px;

        &:hover {
            background-color: #DAEBFA;
        }
    }

    &-dropdown-icon {
        display: inline-block;
        margin-right: 16px;

        & > svg {
            fill:  #1C2025;
        }
    }

    &-dropdown-container {
        & > div > div:nth-child(2) > div > div {
            background: #fff;
            padding: 0;
        }
    }

}
