.live-stream-dialog {
    /**
     * Set font-size to be consistent with Atlaskit FieldText.
     */
    font-size: 0.875rem;

    .broadcast-dropdown {
        text-align: left;
    }

    .form-footer {
        display: flex;
        margin-top: 5px;
        text-align: right;
        flex-direction: column;

        .help-container {
            display: flex;
        }
    }

    .live-stream-cta {
        a {
            cursor: pointer;
        }
    }

    .google-api {
        margin-top: 10px;
        min-height: 36px;
        text-align: center;
        width: 100%;
    }

    .google-error {
        color: #c61600;
    }

    .google-panel {
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .warning-text {
        color:#FFD740;
        font-size: 0.75rem;
    }

    .youtube-go-live-warning {
        margin-bottom: 16px;
        padding: 8px 12px;
        background-color: rgba(248, 174, 26, 0.1);
        border-left: 3px solid #FFD740;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #FFD740;
    }
}
