.recordingSpinner {
    vertical-align: top;
}

.recording-dialog {
    flex: 0;
    flex-direction: column;

    .recording-header {
        display: flex;
        flex: 0;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 32px;

        .recording-title {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            margin-left: 16px;
        }
    }

    .recording-header-line {
        border-top: 1px solid #5e6d7a;
    }

    .recording-switch-disabled {
        opacity: 0.5;
    }

    .recording-icon-container {
        display: inline-flex;
        align-items: center;
    }

    .recording-icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }

    .recording-switch {
        margin-left: auto;
    }

    .authorization-panel {
        display: flex;
        flex-direction: column;
        margin: 0 40px 10px 40px;
        padding-bottom: 10px;

        .logged-in-panel {
            padding: 10px;
        }
    }
}

.live-stream-dialog {
    /**
     * Set font-size to be consistent with Atlaskit FieldText.
     */
    font-size: 14px;

    .broadcast-dropdown,
    .broadcast-dropdown-trigger {
        text-align: left;
    }

    .form-footer {
        display: flex;
        margin-top: 5px;
        text-align: right;
        flex-direction: column;

        .help-container {
            display: flex;
        }
    }

    .live-stream-cta {
        a {
            cursor: pointer;
        }
    }

    .google-api {
        margin-top: 10px;
        min-height: 36px;
        text-align: center;
        width: 100%;
    }

    .google-error {
        color: $errorColor;
    }

    .google-panel {
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .helper-link {
        cursor: pointer;
        font-weight: bold;
        display: inline-block;
        flex-shrink: 0;
        margin-left: auto;
    }

    .warning-text {
        color:#FFD740;
        font-size: 12px;
    }
}
