.recordingSpinner {
    vertical-align: top;
}

.recording-dialog {
    flex: 0;
    flex-direction: column;

    .recording-header {
        align-items: center;
        display: flex;
        flex: 0;
        flex-direction: row;
        justify-content: space-between;

        .recording-title {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            margin-left: 16px;
        }
    }

    .recording-header-line {
        border-top: 1px solid #5e6d7a;
        padding-top: 32px;
    }

    .recording-switch-disabled {
        opacity: 0.5;
    }

    .recording-icon-container {
        display: inline-flex;
        align-items: center;
    }

    .file-sharing-icon-container {
        background-color: #525252;
        border-radius: 4px;
        height: 40px;
        justify-content: center;
        width: 56px;
    }

    .cloud-content-recording-icon-container {
        background-color: #FFFFFF;
        border-radius: 4px;
        height: 40px;
        justify-content: center;
        width: 40px;
    }

    .jitsi-recording-header {
        margin-bottom: 32px;
    }

    .jitsi-content-recording-icon-container-with-switch {
        background-color: #FFFFFF;
        border-radius: 4px;
        height: 40px;
        width: 56px;
    }

    .jitsi-content-recording-icon-container-without-switch {
        background-color: #FFFFFF;
        border-radius: 4px;
        height: 40px;
        width: 46px;
    }

    .recording-icon {
        height: 40px;
        object-fit: contain;
        width: 40px;
    }

    .content-recording-icon {
        height: 18px;
        margin: 10px 0 0 10px;
        object-fit: contain;
        width: 18px;
    }

    .recording-file-sharing-icon {
        height: 18px;
        object-fit: contain;
        width: 18px;
    }

    .recording-info{
        background-color: #FFD740;
        color: black;
        display: inline-flex;
        margin: 32px 0;
        width: 100%;
    }

    .recording-info-icon {
        align-self: center;
        height: 14px;
        margin: 0 24px 0 16px;
        object-fit: contain;
        width: 14px;
    }

    .recording-info-title {
        display: inline-flex;
        font-size: 14px;
        width: 290px
    }

    .recording-switch {
        margin-left: auto;
    }

    .authorization-panel {
        display: flex;
        flex-direction: column;
        margin: 0 40px 10px 40px;
        padding-bottom: 10px;

        .logged-in-panel {
            padding: 10px;
        }
    }
}

.live-stream-dialog {
    /**
     * Set font-size to be consistent with Atlaskit FieldText.
     */
    font-size: 14px;

    .broadcast-dropdown,
    .broadcast-dropdown-trigger {
        text-align: left;
    }

    .form-footer {
        display: flex;
        margin-top: 5px;
        text-align: right;
        flex-direction: column;

        .help-container {
            display: flex;
        }
    }

    .live-stream-cta {
        a {
            cursor: pointer;
        }
    }

    .google-api {
        margin-top: 10px;
        min-height: 36px;
        text-align: center;
        width: 100%;
    }

    .google-error {
        color: $errorColor;
    }

    .google-panel {
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .helper-link {
        cursor: pointer;
        font-weight: bold;
        display: inline-block;
        flex-shrink: 0;
        margin-left: auto;
    }

    .warning-text {
        color:#FFD740;
        font-size: 12px;
    }
}
