.recordingSpinner {
    vertical-align: top;
}

.live-stream-dialog {
    /**
     * Set font-size to be consistent with Atlaskit FieldText.
     */
    font-size: 14px;

    .broadcast-dropdown,
    .broadcast-dropdown-trigger {
        text-align: left;
    }

    .form-footer {
        text-align: right;
    }

    .live-stream-cta {
        a {
            cursor: pointer;
        }
    }

    .google-api {
        margin-top: 10px;
        min-height: 36px;
        text-align: center;
        width: 100%;
    }

    .google-error {
        color: $errorColor;
    }

    /**
     * The Google sign in button must follow Google's design guidelines.
     * See: https://developers.google.com/identity/branding-guidelines
     */
    .google-sign-in {
        background-color: #4285f4;
        border-radius: 2px;
        cursor: pointer;
        display: inline-flex;
        font-family: Roboto, arial, sans-serif;
        font-size: 14px;
        padding: 1px;

        .google-cta {
            color: white;
            display: inline-block;
            /**
             * Hack the line height for vertical centering of text.
             */
            line-height: 32px;
            margin: 0 15px;
        }

        .google-logo {
            background-color: white;
            border-radius: 2px;
            display: inline-block;
            padding: 8px;
            height: 18px;
            width: 18px;
        }
    }

    .google-panel {
        align-items: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .stream-key-form {
        .helper-link {
            display: inline-block;
            cursor: pointer;
            margin-top: 5px;
        }
    }
}
