@media only screen and (max-width: $smallScreen) {
    .watermark {
        width: 20%;
        height: 20%;
    }

    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 28px;
                        height: 28px;
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $verySmallScreen) {
  .welcome {
      #enter_room {
        position: relative;
        height: 42px;

        .welcome-page-button {
          font-size: 16px;
          left: 0;
          position: absolute;
          top: 68px;
          text-align: center;
          width: 100%;
        }
      }

      .header {
          background: #06345E;
          background-image: linear-gradient(180deg, rgba(8, 110, 202, 0.8) 0%, rgba(8, 110, 202, 0) 100%);

          #enter_room {
              .enter-room-input-container {
                  padding-right: 0;
              }

              .warning-without-link,
              .warning-with-link {
                  top: 120px;
              }
          }
      }

      .welcome-tabs {
          display: none;
      }

      .header-text-title {
        text-align: center;
      }

      .welcome-cards-container {
        padding: 0;
      }

      &.without-content {
        .header {
          height: 100%;
        }
      }

      #moderated-meetings {
          display: none;
      }

      .welcome-footer-row-block {
          display: block;
      }
      .welcome-badge {
          margin-right: 16px;
      }
  }

    #videoResolutionLabel {
        display: none;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 18px;
                        height: 18px;
                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    .chrome-extension-banner {
        display: none;
    }
}
