@media only screen and (max-width: $verySmallScreen) {
    .welcome {
        display: block;

        #enter_room {
            .welcome-page-button {
                font-size: 1rem;
                left: 0;
                text-align: center;
                width: 100%;
            }
        }

        .header {
            background-color: #002637;

            .insecure-room-name-warning {
                width: 100%;
            }

            #enter_room {
                width: 100%;
                margin-bottom: 10px !important;

                .join-meeting-container {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 0;
                    margin-bottom: 10px !important;
                    padding: 0;
                    flex-direction: column;
                    background: transparent;
                }

                .enter-room-input-container {
                    padding-right: 0;
                    margin-bottom: 10px;
                }
            }

            #previous_meeting_history_container {
                margin-top: 5px !important;
            }
        }

        .header-text-title {
            text-align: center;
        }

        .welcome-cards-container {
            padding: 0;
        }

        &.without-content {
            .header {
            height: 100%;
            }
        }

        #moderated-meetings {
            display: none;
        }

        .welcome-footer-row-block {
            display: flex;
            flex-direction: column;
            gap:12px;
            align-items: center;
        }
    }
}
