.settings-button {
    &-container {
        position: relative;

        .toolbox-icon {
            align-items: center;
            cursor: pointer;
            display: flex;
            background-color: $ADFC-orange;
            border-radius: 50%;
            border: 1px solid darken( $ADFC-orange, 20% );
            justify-content: center;
            width: 38px;
            height: 38px;

            &:hover {
                background-color: darken( $ADFC-orange, 10% );
                border: 1px solid darken( $ADFC-orange, 20% );
            }

            &.toggled {
                background: $ADFC-blue;
                border: 1px solid darken( $ADFC-blue, 20%);

                svg {
                    fill: white;
                }

                &:hover {
                    background-color: darken( $ADFC-blue, 10%);
                }
            }

            &.disabled, .disabled & {
                cursor: initial;
                color: white;
                background-color: $ADFC-darkGrey;
            }

            svg {
                fill: white;
            }
        }
    }

    &-small-icon {
        background: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        bottom: 0;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        height: 16px;
        position: absolute;
        text-align: center;
        right: 4px;
        width: 16px;

        &> svg {
            fill: #5e6d7a;
            margin-top: 5px;
        }

        &--disabled {
            background-color: #a4b8d1;
            cursor: default;
        }

        &--hovered {
            bottom: -1px;
            height: 20px;
            right: 2px;
            width: 20px;

            &> svg {
                margin-top: 6px;
            }
        }
    }
}
