/**
 * Toolbar side panel main container element.
 */
#sideToolbarContainer {
    background-color: $newToolbarBackgroundColor;
    display: flex;
    /**
     * Make the sidebar flush with the top of the toolbar. Take the size of
     * the toolbar and subtract from 100%.
     */
    height: calc(100% - #{$newToolbarSizeWithPadding});
    left: 0;
    max-width: $sidebarWidth;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
    z-index: $sideToolbarContainerZ;

    /**
     * Form elements and blocks.
     */
    input,
    a {
        display: block;
        margin-top: 15px;
        margin-left: 10%;
        width: 80%;
    }


    /**
     * Inner container, for example settings or profile.
     */
    .sideToolbarContainer__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: $sidebarWidth;
        box-sizing: border-box;
        color: #FFF;
    }

    .side-toolbar-close {
        background: gray;
        border: 3px solid rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        color: white;
        cursor:pointer;
        height: 10px;
        line-height: 10px;
        padding: 4px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 5px;
        width: 10px;
        z-index: 1;
    }
}
