.subject {
    top: -120px;
    transition: top .3s ease-in;
    height: 95px;
    width: 100%;
    pointer-events: none;
    position: absolute;
    padding: 25px 140px 0 140px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    z-index: $zindex10;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;

    &.visible {
        top: 0px;
    }

    &.gradient {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    &-text {
        vertical-align: middle;
    }

    &-conference-timer {
        display: block;
        font-size: 15px;
        opacity: 0.6;
    }
}
