.subject {
    color: #fff;
    margin-top: -120px;
    transition: margin-top .3s ease-in;
    z-index: $zindex3;

    &.visible {
        margin-top: 20px;
    }
}

.subject-info-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 28px;

    @media (max-width: 500px) {
        flex-wrap: wrap;
    }
}

.subject-info {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    max-width: 80%;
    height: 28px;
}

.subject-text {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px 0px 0px 3px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 28px;
    padding: 0 16px;
    height: 28px;

    @media (max-width: 700px) {
        max-width: 100px;
    }

    @media (max-width: 300px) {
        display: none;
    }

    &--content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.subject-timer {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 3px 3px 0px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 28px;
    min-width: 34px;
    padding: 0 8px;
    height: 28px;

    @media (max-width: 300px) {
        display: none;
    }
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 48px;
}

.shift-right .details-container {
    margin-left: calc(#{$sidebarWidth} / 2);
}
