.tip-container {
    background-color: $chatInputBackground;
    border-radius: 0.5rem;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;

    .tip-error,
    .tip-success {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        text-align: center;
        white-space: normal;
        font-weight: 400;
    }

    .tip-error {
        color: $toolBoxIconBorderColor;
    }

    .tip-success {
        color: $popupMenuSliderBackground;
    }

    .tip-wrapper {
        display: flex;
        align-items: center;
    }

    .tip-input {
        background: $welcomePageBackground;
        border: none;
        color: $unsupportedBrowserTitleColor;
        font-size: 14px;
        padding: 5px;
        border-radius: 0.25rem;
        height: 2rem;
        flex: 1;

        &:focus {
            border: $tipInputFocusedBorder;
        }

        &::placeholder {
            color: $chatPlaceholderColor;
        }
    }

    .tip-button {
        background: $displayNameColor;
        height: 2.3rem;
        min-width: 3.5rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 15px;
        font-weight: bold;
        margin-left: 0.5rem;
        outline: none;

        &:disabled {
            opacity: 0.4;
            cursor: auto;
        }
    }
}

.tip-icon {
    width: 30px;
    height: 30px;

    svg {
        width: 100%;
    }
}

.tip-container {
    &.tip-container__chat {
        left: 20%;
        top: 100%;
    }
    &.tip-container__aside {
        top: -80px;
        right: 0;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    opacity: 1;
    margin: 0;
    padding: 0;

    .modal-dialog {
        position: relative;
        width: auto;
        height: 100%;

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;

            .modal-body {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }
}
