.tip-container {
    background-color: $chatInputBackground;
    border-radius: 0.5rem;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;

    .tip-error {
        margin-bottom: 0.5rem;
        color: $toolBoxIconBorderColor;
        font-size: 0.75rem;
        text-align: center;
        white-space: normal;
        font-weight: 400;
    }

    .tip-wrapper {
        display: flex;
        align-items: center;
    }

    .tip-input {
        background: $welcomePageBackground;
        border: none;
        color: $unsupportedBrowserTitleColor;
        font-size: 14px;
        padding: 5px;
        border-radius: 0.25rem;
        height: 2rem;
        flex: 1;

        &:focus {
            border: $tipInputFocusedBorder;
        }

        &::placeholder {
            color: $chatPlaceholderColor;
        }
    }

    .tip-button {
        background: $displayNameColor;
        height: 2.3rem;
        min-width: 3.5rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 15px;
        font-weight: bold;
        margin-left: 0.5rem;
    }
}

.tip-icon {
    width: 30px;
    height: 30px;

    svg {
        width: 100%;
    }
}

.tip-container {
    &.tip-container__chat {
        left: 20%;
        top: 100%;
    }
    &.tip-container__aside {
        top: -80px;
        right: 0;
    }
}
