.tip-wrapper {
    display: flex;
    align-items: center;
    background-color: $chatInputBackground;
    border-radius: 0.5rem;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    z-index: 10;

    .tip-input {
        background: $welcomePageBackground;
        border: none;
        color: $unsupportedBrowserTitleColor;
        font-size: 14px;
        padding: 5px;
        border-radius: 0.25rem;
        height: 2rem;

        &:focus {
            border: $tipInputFocusedBorder;
        }

        &::placeholder {
            color: $chatPlaceholderColor;
        }
    }

    .tip-button {
        background: $displayNameColor;
        height: 2.3rem;
        min-width: 3.5rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 15px;
        font-weight: bold;
        margin-left: 0.5rem;
    }
}
