.tip-container {
    background-color: $chatInputBackground;
    border-radius: 0.5rem;
    max-width: 320px;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;

    .tip-error,
    .tip-loader,
    .tip-success {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        text-align: center;
        white-space: normal;
        font-weight: 400;
    }

    .tip-error {
        color: $toolBoxIconBorderColor;
    }

    .tip-success {
        color: $popupMenuSliderBackground;
    }

    .tip-wrapper {
        display: flex;
        align-items: center;
    }

    .tip-input {
        background: $welcomePageBackground;
        border: none;
        color: $unsupportedBrowserTitleColor;
        font-size: 14px;
        padding: 5px;
        border-radius: 0.25rem;
        height: 2rem;
        flex: 1;
        outline: none;

        &:focus {
            border: $tipInputFocusedBorder;
        }

        &::placeholder {
            color: $chatPlaceholderColor;
        }
    }

    .tip-button {
        background: $displayNameColor;
        height: 2.3rem;
        min-width: 3.5rem;
        border: none;
        border-radius: 0.25rem;
        font-size: 15px;
        font-weight: bold;
        margin-left: 0.5rem;
        outline: none;

        &:disabled {
            opacity: 0.4;
            cursor: auto;
        }
    }
}

.tip-icon {
    width: 30px;
    height: 30px;

    svg {
        width: 100%;
    }
}

#filmstripRemoteVideosContainer span:first-child {
    .tip-container__vertical-filmstrip-view {
        bottom: 15%;
    }
}

.tip-container {
    &.tip-container__chat,
    &.tip-container__tile-view {
        left: 20%;
    }

    &.tip-container__tile-view {
        bottom: 10%;
    }

    &.tip-container__vertical-filmstrip-view {
        right: 10%;
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $popupMenuSliderBackground;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
