.transcription-subtitles {
    bottom: $newToolbarSize + 40px;
    font-size: 16px;
    font-weight: 1000;
    left: 50%;
    max-width: 50vw;
    opacity: 0.80;
    overflow-wrap: break-word;
    pointer-events: none;
    position: absolute;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3),
    0px 1px 1px rgba(0,0,0,0.3),
    1px 0px 1px rgba(0,0,0,0.3),
    0px 0px 1px rgba(0,0,0,0.3);
    transform: translateX(-50%);
    z-index: $subtitlesZ;

    &.lifted {
        // Lift subtitle above toolbar+invite box.
        bottom: $newToolbarSize + 112px + 40px;
    }

    span {
        background: black;
    }
}
