.flip-x {
    transform: scaleX(-1);
}

.hidden {
  display: none;
}

/**
 * Hides an element.
 */
.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

/**
 * Shows an element.
 */
.show {
    display: block !important;
}

/**
 * Shows an inline element.
 */
.show-inline {
    display: inline-block !important;
}

/**
 * Shows a flex element.
 */
.show-flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}

/**
 * resets default button styles,
 * mostly intended to be used on interactive elements that
 * differ from their default styles (e.g. <a>) or have custom styles
 */
.invisible-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
}
