/**
 * Style variables
 */
$baseFontFamily: 'open_sanslight', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/**
 * Size variables.
 */
$defaultToolbarSize: 50px;

/**
 * Color variables.
 */
$defaultColor: #ECEEF1;
$defaultSemiDarkColor: #8E96A8;
$defaultDarkColor: #172B4D;
$defaultBackground: #091E42;
$toolbarSelectBackground: rgba(0, 0, 0, 0.6);
$inputBackground: rgba(94, 108, 132, .5);
$inputSemiBackground: rgba(94, 108, 132, .8);
$inputLightBackground: #E5E8EC;
$inputBorderColor: #E5E8EC;
$buttonBackground: #0074E0;

/**
 * Misc.
 */
$borderRadius: 4px;


