/**
 * Style variables
 */
$baseFontFamily: 'open_sanslight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$toolbarFontSize: 1.9em;
$hangupFontSize: 2em;

/**
 * Size variables.
 */
$defaultToolbarSize: 50px;

// Video layout.
$thumbnailIndicatorSize: 23px;
$thumbnailIndicatorBorder: 0px;
$thumbnailVideoMargin: 2px;
$thumbnailToolbarHeight: 25px;

/**
 * Color variables.
 */
$defaultColor: #F1F1F1;
$defaultSideBarFontColor: #44A5FF;
$defaultSemiDarkColor: #ACACAC;
$inputColor: #758196;
$defaultDarkColor: #2b3d5c;
$defaultDarkSelectionColor: #253858;
$defaultBackground: #474747;
$tooltipBg: rgba(0,0,0, 0.7);

//TODO check it after rebase
$auiDialogColor: #F1F1F1;
$auiDialogBg: #474747;
$auiDialogContentBg: #474747;
$linkFontColor: #287ade;
$linkHoverFontColor: #287ade;
$auiPrimaryButtonBg: #3572b0;
$auiPrimaryButtonColor: #fff;
$auiIconColor: #707070;
$auiPrimaryButtonHoverBg: #474747;
$inputControlEmColor: #F1F1F1;
//TODO end

// Toolbar
$toolbarSelectBackground: rgba(0, 0, 0, .6);

$toolbarBadgeBackground: #165ECC;
$toolbarBadgeColor: #FFFFFF;
$toolbarToggleBackground: #165ECC;

// Main controls
$inputBackground: #344563;
$inputSemiBackground: rgba(132, 132, 132, .8);
$inputLightBackground: #EBEBEB;
$inputBorderColor: #7a869a;
$buttonBackground: #44A5FF;

// Video layout.
$videoThumbnailHovered: #BFEBFF;
$videoThumbnailSelected: #165ECC;
$participantNameColor: #fff;
$thumbnailPictogramColor: #fff;
$dominantSpeakerBg: #165ecc;
$raiseHandBg: #D6D61E;
$audioLevelBg: #44A5FF;
$audioLevelShadow: rgba(9, 36, 77, 0.9);

$rateStarDefault: #ccc;
$rateStarActivity: #f6c342;
$rateStarLabelColor: #333;

/**
 * Misc.
 */
$borderRadius: 4px;
$defaultWatermarkLink: '../images/watermark.png';
$hrColor: #505f79;

/**
 * Z-indexes. TODO: Replace this by a function.
 */
$tooltipsZ: 901;
$toolbarZ: 900;
$overlayZ: 800;

/**
 * Font Colors TODO: Change colors when general dialogs are implemented.
 */
$defaultFontColor: #777;
$defaultLightFontColor: #F1F1F1;
$defaultDarkFontColor: #000;
$buttonFontColor: #777;
$buttonHoverFontColor: #287ade;
$linkFontColor: #489afe;
$linkHoverFontColor: #287ade;
$auiPrimaryButtonBg: #3572b0;
$auiPrimaryButtonHoverBg: #57647b;
$auiPrimaryButtonColor: #fff;
$auiIconColor: #707070;

/**
 * Dialog colors
 **/
$auiDialogColor: #eceef1;
$auiDialogBg: #253858;
$auiDialogContentBg: #344563;
>>>>>>> BeatC dialogs redesign
