/**
*   Style variables
*/

$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$connectionIndicatorBg: #bf2117;
$thumbnailPictogramColor: #fff;
$dominantSpeakerBg: #165ecc;
$raiseHandBg: #6c64a6;
$participantNameColor: #fff;
$bodyBg: #091e42;