.video-preview {
    &-entry {
        cursor: pointer;
        height: 135px;
        margin-bottom: 16px;
        position: relative;
        width: 240px;

        &:last-child {
            margin-bottom: 0;
        }

        &--selected {
            border: 3px solid #31B76A;
            cursor: default;
            height: 129px;
            width: 234px;
        }
    }

    &-video {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &-overlay {
        background: rgba(42, 58, 75, 0.6);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &-error {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
    }
}
