.video-preview {
    background: none;
    display: inline-block;

    &-container {
        max-height: 456px;
        overflow: auto;
        margin-bottom: 4px;
        position: relative;
        right: auto;
    }

    &-entry {
        cursor: pointer;
        height: 138px;
        width: 244px;
        position: relative;
        margin: 0 7px 4px;
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        &--selected {
            border: 2px solid #4687ED;
        }
    }

    &-video {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &-error {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
    }

    &-label {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        padding: 8px;
        z-index: 2;

        &-text {
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 4px;
            padding: 4px 8px;
            color: #fff;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            max-width: calc(100% - 16px);
            overflow: hidden;
            text-overflow: ellipsis;
            width: fit-content;
            white-space: nowrap;
        }
    }

    &-checkbox-container {
        padding: 10px 14px;
    }
}
