body.welcome-page {
    background: inherit;
    overflow: auto;
}

.welcome {
    background-color: $welcomePageBackground;
    display: flex;
    flex-direction: column;
    font-family: $welcomePageFontFamily;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

    .header {
        background-image: $welcomePageHeaderBackground;
        background-position: $welcomePageHeaderBackgroundPosition;
        background-repeat: $welcomePageHeaderBackgroundRepeat;
        background-size: $welcomePageHeaderBackgroundSize;
        padding-bottom: $welcomePageHeaderPaddingBottom;
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        overflow: hidden;
        position: relative;
        text-align: center;

        .header-today-logo {
            background: url('../images/togetherLogo.svg');
            width: 120px;
            height: 120px;
            margin: 100px auto 50px auto;
        }

        .header-text {
            display: flex;
            flex-direction: column;
            margin-top: $watermarkHeight + $welcomePageHeaderTextMarginTop;
            margin-bottom: $welcomePageHeaderTextMarginBottom;
            max-width: calc(100% - 40px);
            width: 570px;
            z-index: $zindex2;
        }

        .header-text-title {
            color: $welcomePageTitleColor;
            font-size: $welcomePageHeaderTextTitleFontSize;
            font-weight: $welcomePageHeaderTextTitleFontWeight;
            line-height: $welcomePageHeaderTextTitleLineHeight;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            opacity: $welcomePageHeaderTextTitleOpacity;
        }

        .header-text-description {
            display: block;
            text-align: center;
            color: $welcomePageDescriptionColor;
            font-size: $welcomePageHeaderTextDescriptionFontSize;
            font-weight: $welcomePageHeaderTextDescriptionFontWeight;
            line-height: $welcomePageHeaderTextDescriptionLineHeight;
            margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
            align-self: $welcomePageHeaderTextDescriptionAlignSelf;

        #enter_room {
            display: flex;
            align-items: center;
            max-width: calc(100% - 40px);
            width: $welcomePageEnterRoomWidth;
            z-index: $zindex2;
            background-color: #fff;
            padding: $welcomePageEnterRoomPadding;
            border-radius: $welcomePageEnterRoomBorderRadius;

            .enter-room-input-container {
                width: 100%;
                padding: $welcomePageEnterRoomInputContainerPadding;
                text-align: left;
                color: #253858;
                height: fit-content;

                .enter-room-title {
                    display: $welcomePageEnterRoomTitleDisplay;
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 5px;
                }

                .enter-room-input {
                    border-width: $welcomePageEnterRoomInputContainerBorderWidth;
                    border-style: $welcomePageEnterRoomInputContainerBorderStyle;
                    border-image: $welcomePageEnterRoomInputContainerBorderImage;
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                }

                .insecure-room-name-warning {
                    align-items: center;
                    color: $defaultWarningColor;
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;

                    .jitsi-icon {
                        margin-right: 15px;

                        svg {
                            fill: $defaultWarningColor
                        }
                    }
                }

                ::placeholder {
                    color: #253858;
                }
            }
        }
    }

        #moderated-meetings {
            max-width: calc(100% - 40px);
            padding: 16px 0 39px 0;
            width: $welcomePageEnterRoomWidth;

            p {
                color: $welcomePageDescriptionColor;
                text-align: left;

                a {
                    color: inherit;
                    font-weight: 600;
                }
            }
        }

        .tab-container {
            font-size: 16px;
            position: relative;
            text-align: left;
            min-height: 354px;
            width: 710px;
            background: #75A7E7;
            display: $welcomePageTabContainerDisplay;
            flex-direction: column;

            .tab-content{
                display: $welcomePageTabContentDisplay;
                margin: 5px 0px;
                overflow: hidden;
                flex-grow: 1;
                position: relative;

                > * {
                    position: absolute;
                }
            }
        }

        a {
            color: #212529;
            text-decoration: none;
        }
    }

    .welcome-page-button {
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        width: 231px;
        background: #4C54D2;
        border-radius: 100px;
        padding: 10px 0;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
    }

    .welcome-page-button-download {
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        width: 231px;
        background: #EA3A0D;
        border-radius: 100px;
        padding: 10px 0;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
    }

    .welcome-page-settings {
        color: $welcomePageDescriptionColor;
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: $zindex2;

        * {
            cursor: pointer;
            font-size: 32px;
        }
    }

    .welcome-watermark {
        display: block;
        position: absolute;
        background: url('../images/brave_logo.svg');
        width: 131px;
        height: 40px;
        top: 24px;
        left: 24px;
        outline: none;

        a {
            display: block;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .welcome {
        background-color: #17171F;
    
        .header {
            .header-today-logo {
                background: url('../images/togetherLogo_dark.svg');
            }
    
            .header-text-title {
                color: #F8F9FA;
            }
        }
    
        .footer-text {
            a {
                color: #F8F9FA;
            }
        }

        .welcome-watermark {
            background: url('../images/brave_logo_dark.svg');
        }
    }
}
