body.welcome-page {
    background: inherit;
    overflow: auto;
}

.welcome {
    background: $welcomePageBackground;
    display: flex;
    flex-direction: column;
    font-family: $welcomePageFontFamily;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

    .header {
        background-image: $welcomePageHeaderBackground;
        background-position: $welcomePageHeaderBackgroundPosition;
        background-repeat: $welcomePageHeaderBackgroundRepeat;
        background-size: $welcomePageHeaderBackgroundSize;
        padding-bottom: $welcomePageHeaderPaddingBottom;
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        overflow: hidden;
        position: relative;
        text-align: center;

        .wrapper {
            width: 100%;
            background-image: url($welcomePageTopBackground);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left 50% top 0%;
        }

        .header-text {
            display: flex;
            flex-direction: column;
            padding: $watermarkHeight + $watermarkTop 50px 50px;
            max-width: 100%;
            align-items: center;

            @media (max-width: $mobileWidth) {
                padding: 40px 20px 20px;
            }
        }

        .header-text-title {
            color: $welcomePageTitleColor;
            font-family: $welcomePageHeaderTextTitleFontFamily;
            font-size: $welcomePageHeaderTextTitleFontSize;
            font-weight: $welcomePageHeaderTextTitleFontWeight;
            line-height: $welcomePageHeaderTextTitleLineHeight;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            opacity: $welcomePageHeaderTextTitleOpacity;
            letter-spacing: normal;
            text-align: center;
        }

        .header-text-description {
            display: $welcomePageHeaderTextDescriptionDisplay;
            color: $welcomePageDescriptionColor;
            font-family: $welcomePageHeaderTextTitleFontFamily;
            font-size: $welcomePageHeaderTextDescriptionFontSize;
            font-weight: $welcomePageHeaderTextDescriptionFontWeight;
            line-height: $welcomePageHeaderTextDescriptionLineHeight;
            margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
            align-self: $welcomePageHeaderTextDescriptionAlignSelf;
            text-align: center;
        }

        #enter_room {
            display: flex;
            align-items: center;
            max-width: calc(100% - 40px);
            width: $welcomePageEnterRoomWidth;
            z-index: $zindex2;
            background-color: $welcomePageBackground;
            padding: $welcomePageEnterRoomPadding;
            border-radius: $welcomePageEnterRoomBorderRadius;
            border: 2px solid $welcomeBorderColor;

            @media (max-width: $desktopWidth) {
                width: 100%;
                border: none;
            }

            .enter-room-input-container {
                width: 100%;
                padding: $welcomePageEnterRoomInputContainerPadding;
                text-align: left;
                color: #253858;
                height: fit-content;

                .enter-room-title {
                    display: $welcomePageEnterRoomTitleDisplay;
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 5px;
                    font-family: Roboto, sans-serif;
                    line-height: 1.33;
                    text-align: left;
                    color: $welcomePageTitleColor;
                }

                .enter-room-input {
                    border-width: $welcomePageEnterRoomInputContainerBorderWidth;
                    border-style: $welcomePageEnterRoomInputContainerBorderStyle;
                    border-image: $welcomePageEnterRoomInputContainerBorderImage;
                    background: transparent;
                    color: #babac0;
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    margin-top: 20px;

                    &:focus {
                        border-image: $welcomePageEnterRoomInputContainerBorderImageFocused;
                        color: $unsupportedBrowserTitleColor;
                    }
                }

                .insecure-room-name-warning {
                    align-items: center;
                    color: $defaultWarningColor;
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;

                    svg {
                        fill: $defaultWarningColor
                    }
                }
            }

        }

        .tab-container {
            font-size: 16px;
            position: relative;
            text-align: left;
            min-height: 354px;
            width: 600px;
            display: $welcomePageTabContainerDisplay;
            flex-direction: column;

            @media (max-width: $desktopWidth) {
                width: 100%;
            }

            .tab-content{
                display: $welcomePageTabContentDisplay;
                margin: 0;
                overflow: hidden;
                flex-grow: 1;
                position: relative;

                > * {
                    position: absolute;
                }
            }

            .tab-buttons {
                font-size: 18px;
                color: #FFFFFF;
                display: $welcomePageTabButtonsDisplay;
                flex-grow: 0;
                flex-direction: row;
                min-height: 54px;
                width: 100%;

                .tab {
                    display: $welcomePageTabDisplay;
                    text-align: center;
                    background: rgba(9,30,66,0.37);
                    height: 55px;
                    line-height: 54px;
                    flex-grow: 1;
                    cursor: pointer;

                    &.selected, &:hover {
                        background: rgba(9,30,66,0.71);
                    }

                    &:last-child {
                        margin-left: 1px;
                    }
                }
            }
        }
    }

    .welcome-page-button {
        width: $welcomePageButtonWidth;
        min-width: $welcomePageButtonMinWidth;
        height: $welcomePageButtonHeight;
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        background: #2a9cff;
        border-radius: $welcomePageButtonBorderRadius;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        margin-top: 30px;

        &:hover {
            background: #1969b0;
        }
    }

    .welcome-page-settings {
        color: $welcomePageDescriptionColor;
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: $zindex2;

        @media (max-width: $desktopWidth) {
            top: 15px;
            right: 15px;
        }

        * {
            cursor: pointer;
            font-size: 32px;
        }
    }

    .welcome-watermark {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
