body {
    width:100%;
    height:100%;
    background-color: white;
    color: #424242;
    font-family:'YanoneKaffeesatzLight',Verdana,Tahoma,Arial;
    margin:0;
    padding:0;
}
#wrap{
    display: block;
    position: absolute;
    width:766px;
    height: 262px;
    overflow:hidden;
    text-align: center;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
#left{
    display:inline-block;
    background-image:url(../images/chromelogo.png);
    background-repeat:no-repeat;
    width:246px;
    height:262px;
    float: left;
}
#middle{
    display:inline-block;
    background-image:url(../images/chromepointer.png);
    background-repeat:no-repeat;
    width:53px;
    height:262px;
    float: left;
}
#text{
    display:inline-block;
    font-size: 20pt;
    width: 400px;
    vertical-align:middle;
    padding-top: 30px;
}

a {
    color: #087dba;
    text-decoration:none;
}
  
   
   
