#contactlist {
    background-color: black;
    cursor: default;
}

#contactlist>ul {
    margin: 0px;
    padding: 0px;
}

#contactlist>ul>li {
    list-style-type: none;
    text-align: left;
    color: #FFF;
    font-size: 10pt;
    padding: 7px 10px;
    margin: 2px;
}

#contactlist>ul>li>p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

#contactlist>ul>li.title {
    color: #00ccff;
    font-size: 11pt;
    border-bottom: 1px solid #676767;
}

.avatar {
    padding: 0px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 22pt;
    border-radius: 20px;
}

#contactlist .clickable {
    cursor: pointer;
}