/*Initialize*/
ul.loginmenu {
    display:none;
    position: absolute;
    margin: 0;
    padding: 5px;
    padding-bottom: 7px;
    top: 45px;
    left: -5px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid rgba(256, 256, 256, 0.2);
    border-radius:8px;
}

ul.loginmenu li {
    list-style-type: none;
    padding: 7px;
}

ul.loginmenu li.identity {
    color: #fff;
    font-size: 11pt;
    cursor: default;
}

ul.loginmenu:after {
    content: url('../images/dropdownPointer.png');
    display: block;
    position: absolute;
    top: -7px;
    left: 18px;
}

li a.authButton{
    background-color: #06a5df;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 29px;
    padding-right: 29px;
    border-radius: 4px;
    color: #fff;
    font-size: 11pt;
    cursor: pointer;
}

span.authentication:hover ul.loginmenu, ul.loginmenu:hover {
    display:block !important;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
}

.loginmenuPadding {
    width: 50px;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0px;
}