/* Variables BEGIN */

@import 'variables';

/* Variables END */

/* Fonts BEGIN */

@import 'font';
@import 'font-awesome';

/* Fonts END */

/* Modules BEGIN */

@import 'toastr';
@import 'base';
@import 'overlay';
@import 'videolayout_default';
@import 'jquery-impromptu';
@import 'modaldialog';
@import 'notice';
@import 'popup_menu';
@import 'recording';
@import 'login_menu';
@import 'popover';
@import 'jitsi_popover';
@import 'contact_list';
@import 'chat/main';
@import 'nickname/nickname';
@import 'welcome_page';
@import 'settingsmenu';
@import 'feedback';
@import 'jquery.contextMenu';
@import 'keyboard-shortcuts';

/* Modules END */