/* Variables BEGIN */

@import 'variables';

/* Variables END */

/* Mixins BEGIN */

@import "mixins";

/* Mixins END */

/* Fonts BEGIN */

@import 'font';
@import 'font-awesome';

/* Fonts END */

/* Modules BEGIN */

@import 'toastr';
@import 'base';
@import 'overlay/overlay';
@import 'modals/dialog';
@import 'modals/feedback/feedback';
@import 'videolayout_default';
@import 'jquery-impromptu';
@import 'modaldialog';
@import 'notice';
@import 'popup_menu';
@import 'recording';
@import 'login_menu';
@import 'popover';
@import 'jitsi_popover';
@import 'contact_list';
@import 'chat';
@import 'ringing/ringing';
@import 'welcome_page';
@import 'toolbars';
@import 'side_toolbar_container';
@import 'device_settings_dialog';
@import 'jquery.contextMenu';
@import 'keyboard-shortcuts';
@import 'redirect_page';


/* Modules END */