/*Initialize*/
ul.popupmenu {
    width: 100px;
    padding: 0;
    margin: 0;
}

ul.popupmenu li {
    list-style-type: none;
    display: inline-block;
    text-align: left;
    width: 100%;
}

ul.popupmenu li:hover {
    background-color: rgba(256, 256, 256, .2);
    border-radius:6px;
}

/*Link Appearance*/
ul.popupmenu li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    display: inline-block;
    font-size: 9pt;
}

ul.popupmenu li i {
    width: 15px;
}

ul.popupmenu li span {
    padding-left: 5px;
}

ul.popupmenu a.disabled {
    color: gray !important;
    pointer-events: none;
}
