#settingsmenu {
    display: none;
    background: black;
    color: #21B9FC;
    overflow-y: auto;
}

#settingsmenu input, select {
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    font-size: 14px;
    background: #3a3a3a;
    border: none;
    box-shadow: none;
    color: #a7a7a7;
}

#settingsmenu>div.title {
    text-align: left;
    padding: 7px 10px;
    margin: 2px;
    font-size: 11pt;
    border-bottom: 1px solid #676767;
}

#settingsmenu>div.title>span {
    margin-left: 5px;
}

#settingsmenu .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #3a3a3a;
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#settingsmenu #avatar {
    width: 24%;
    left: 38%;
    border-radius: 25px;
    position: relative;
}

#languages_selectbox {
    height: 40px;
    cursor: pointer;
}

#startMutedOptions,
#followMeOptions {
    padding-left: 10%;
    text-indent: -10%;
    margin-top: 10px;
    display: none; /* hide by default */
    /* clearfix */
    overflow: auto;
    zoom: 1;
}

#startAudioMuted,
#startVideoMuted,
#followMeCheckBox {
    width: 13px !important;
}

.startMutedLabel,
.followMeLabel {
    width: 94%;
    float: left;
    cursor: pointer;
}

#devicesOptions {
    display: none;
    margin-top: 10px;
}

#devicesOptions label {
    display: block;
    margin-top: 15px;
}

#devicesOptions span {
    padding-left: 10%;
}

#devicesOptions select {
    height: 40px;
    cursor: pointer;
}
