#videospace {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#remoteVideos {
    display:block;
    position:absolute;
    text-align:right;
    height:196px;
    padding: 18px;
    bottom: 0;
    left: 0;
    right: 20px;
    width:auto;
    border:1px solid transparent;
    z-index: 5;
    transition: bottom 2s;
    overflow: visible !important;
}

#remotevideos.hidden {
    bottom: -196px;
}

.videocontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#remoteVideos .videocontainer {
    display: inline-block;
    background-color: black;
    background-size: contain;
    border-radius:8px;
    border: 2px solid #212425;
    margin-right: 3px;
}

#remoteVideos .videocontainer:hover,
#remoteVideos .videocontainer.videoContainerFocused {
    width: 100%;
    height: 100%;
    content:"";
    cursor: pointer;
    cursor: hand;
    /* transform:scale(1.08, 1.08);
    -webkit-transform:scale(1.08, 1.08); */
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -webkit-animation-name: greyPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    overflow: visible !important;
}

#remoteVideos .videocontainer:hover {
    -webkit-box-shadow: inset 0 0 10px #FFFFFF, 0 0 10px #FFFFFF;
    border: 2px solid #FFFFFF;
}

#remoteVideos .videocontainer.videoContainerFocused {
    -webkit-box-shadow: inset 0 0 28px #006d91;
    border: 2px solid #006d91;
}

#remoteVideos .videocontainer.videoContainerFocused:hover {
    -webkit-box-shadow: inset 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, inset 0 0 60px #006d91;
    border: 2px solid #FFFFFF;
}

#localVideoWrapper {
    display:inline-block;
    -webkit-mask-box-image: url(../images/videomask.svg);
    border-radius:0px !important;
    border: 0px !important;
}

#remoteVideos .videocontainer>video {
    border-radius:4px;
}

.flipVideoX {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
}

#localVideoWrapper>video {
    border-radius:0px !important;
}

#largeVideo,
#largeVideoContainer {
    overflow: hidden;
    text-align: center;
}

#largeVideo
{
    object-fit: cover;
}

#presentation,
#etherpad,
#localVideoWrapper>video,
#localVideoWrapper,
.videocontainer>video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#etherpad,
#presentation {
    text-align: center;
}

#etherpad {
    z-index: 0;
}

#etherpadButton {
    display: none;
}

#remoteVideos .videocontainer>span.focusindicator,
#remoteVideos .videocontainer>span.remotevideomenu {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    left: 0;
    padding: 5px 0px;
    width: 25px;
    font-size: 11pt;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border: 0px;
    z-index: 2;
    text-align: center;
}

#remoteVideos .nick {
    display: none; /* enable when you want nicks to be shown */
    position: absolute;
    left: 0px;
    bottom: -20px;
    z-index: 0;
    width: 100%;
    font-size: 10pt;
}

.videocontainer>span.displayname,
.videocontainer>input.displayname {
    display: none;
    position: absolute;
    color: #FFFFFF;
    background: rgba(0,0,0,.7);
    text-align: center;
    text-overflow: ellipsis;
    width: 70%;
    height: 20%;
    left: 15%;
    top: 40%;
    padding: 5px;
    font-size: 11pt;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    border-radius:20px;
}

.videocontainer>span.status {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    background: rgba(0,0,0,.7);
    text-align: center;
    text-overflow: ellipsis;
    width: 70%;
    height: 15%;
    left: 15%;
    bottom: 2%;
    padding: 5px;
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    border-radius:20px;
}

.connectionindicator
{
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0px 5px;
    z-index: 3;
    width: 18px;
    height: 13px;
}

.connection.connection_empty
{
    color: #8B8B8B;/*#FFFFFF*/
    overflow: hidden;
}

.connection.connection_full
{
    color: #FFFFFF;/*#15A1ED*/
    overflow: hidden;
}

.connection
{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 8pt;
    border: 0px;
    width: 18px;
    height: 13px;
}

.connection_info
{
    float: left;
    padding-bottom: 5px;
}

.connection_info > table
{
    white-space: nowrap;
}

.connection_info, .connection_info > table
{
    text-align: left;
    font-size: 11px;
    color: #ffffff;
}

#localVideoContainer>span.status:hover,
#localVideoContainer>span.displayname:hover {
    cursor: text;
}

.videocontainer>span.status,
.videocontainer>span.displayname {
    pointer-events: none;
}

.videocontainer>input.displayname {
    height: auto;
}

#localDisplayName {
    pointer-events: auto !important;
}

.videocontainer>a.status,
.videocontainer>a.displayname {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    right: 0;
    padding: 3px 5px;
    font-size: 9pt;
    cursor: pointer;
    z-index: 2;
}

.videocontainer>span.audioMuted {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    padding: 8px 5px;
    width: 25px;
    font-size: 8pt;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border: 0px;
    z-index: 3;
    text-align: center;
}

.videocontainer>span.videoMuted {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    right: 0;
    padding: 8px 5px;
    width: 25px;
    font-size: 8pt;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border: 0px;
    z-index: 3;
}

#reloadPresentation {
    display: none;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    right:0;
    padding: 10px 10px;
    font-size: 11pt;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    z-index: 20; /*The reload button should appear on top of the header!*/
}

#header{
    display:none;
    position:absolute;
    text-align:center;
    top:0;
    left:0;
    right:0;
    z-index:10;
    pointer-events: none;
}

#toolbar {
    display:inline-block;
    position:relative;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    padding-left:2px;
    padding-right:2px;
    height:38px;
    width:auto;
    background-color: rgba(0,0,0,0.8); 
    border: 1px solid rgba(256, 256, 256, 0.2);
    border-radius: 6px;
    pointer-events: auto;
}

#subject {
    position: relative;
    z-index: 3;
    width: auto;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,.85) , rgba(255,255,255,.35));
    -webkit-box-shadow: 0 0 2px #000000, 0 0 10px #000000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: none;
}

.audiolevel {
    display: inline-block;
    position: absolute;
    z-index: 0;
    border-radius:10px;
    pointer-events: none;
}

#activeSpeaker {
    visibility: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#activeSpeakerAudioLevel {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    visibility: inherit;
}

#mixedstream {
    display:none !important;
}

#activeSpeakerAvatar {
    width: 100px;
    height: 100px;
    top: 25px;
    margin: auto;
    position: relative;
    border-radius: 50px;
    z-index: 2;
    visibility: inherit;
}

.userAvatar {
    height: 100%;
    position: absolute;
    left: 35px;
    border-radius: 200px;
}
