#videospace {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#remoteVideos {
    display:block;
    position:absolute;
    text-align:right;
    height:196px;
    padding: 18px;
    bottom: 0;
    left: 0;
    right: 20px;
    width:auto;
    border:1px solid transparent;
    z-index: 5;
    transition: bottom 2s;
    overflow: visible !important;
    font-size: 0pt; /*!!!Removes the gap between the local video container and the remote videos.*/
}

#remotevideos.hidden {
    bottom: -100%;
}

.videocontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#remoteVideos .videocontainer {
    display: none;
    background-color: black;
    background-size: contain;
    border-radius:1px;
    border: 1px solid #212425;
}

#remoteVideos .videocontainer.videoContainerFocused {
    cursor: hand;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -webkit-animation-name: greyPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

#remoteVideos .videocontainer:hover {
    border: 1px solid #c1c1c1;
}

#remoteVideos .videocontainer.videoContainerFocused {
    box-shadow: inset 0 0 28px #006d91;
    border: 1px solid #006d91;
}

#remoteVideos .videocontainer.videoContainerFocused:hover {
    box-shadow: inset 0 0 5px #c1c1c1, 0 0 10px #c1c1c1, inset 0 0 60px #006d91;
    border: 1px solid #c1c1c1;
}

#localVideoWrapper {
    display:inline-block;
}

/* With TemasysWebRTC plugin <object/> element is used
   instead of <video/> */
#remoteVideos .videocontainer>video,
#remoteVideos .videocontainer>object {
    cursor: hand;
    border-radius:1px;
    object-fit: cover;
    overflow: hidden;
}

.flipVideoX {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
}

#localVideoWrapper>video,
#localVideoWrapper>object {
    cursor: hand;
    border-radius:1px !important;
    object-fit: cover;
}

#largeVideo,
#largeVideoWrapper,
#largeVideoContainer {
    overflow: hidden;
    text-align: center;
}

#largeVideo,
#largeVideoWrapper
{
    object-fit: cover;
}

#presentation,
#sharedVideo,
#etherpad,
#localVideoWrapper>video,
#localVideoWrapper>object,
#localVideoWrapper,
#largeVideoWrapper,
#largeVideoWrapper>video,
#largeVideoWrapper>object,
.videocontainer>video,
.videocontainer>object {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#etherpad,
#presentation {
    text-align: center;
}

#etherpad {
    z-index: 0;
}

#toolbar_button_etherpad {
    display: none;
}

#remoteVideos .videocontainer>span.focusindicator,
#remoteVideos .videocontainer>div.remotevideomenu {
    position: absolute;
    color: #FFFFFF;
    top: 0;
    left: 0;
    padding: 5px 0px;
    width: 25px;
    font-size: 11pt;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border: 0px;
    z-index: 2;
    text-align: center;
}

#remoteVideos .videocontainer>span.focusindicator {
    display: inline-block;
}

#remoteVideos .videocontainer>div.remotevideomenu {
    display: block;
}

.videocontainer>span.displayname,
.videocontainer>input.displayname {
    display: none;
    position: absolute;
    color: #FFFFFF;
    background: rgba(0,0,0,.7);
    text-align: center;
    text-overflow: ellipsis;
    width: 70%;
    height: 20%;
    left: 15%;
    top: 40%;
    padding: 5px;
    font-size: 11pt;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    border-radius:3px;
}

.videocontainer>span.status {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    background: rgba(0,0,0,.7);
    text-align: center;
    text-overflow: ellipsis;
    width: 70%;
    height: 15%;
    left: 15%;
    bottom: 2%;
    padding: 5px;
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    border-radius:3px;
}

.connectionindicator
{
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0px 5px;
    z-index: 3;
    width: 18px;
    height: 13px;
}

.connection.connection_empty
{
    color: #8B8B8B;/*#FFFFFF*/
    overflow: hidden;
}

.connection.connection_full
{
    color: #FFFFFF;/*#15A1ED*/
    overflow: hidden;
}

.connection
{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 8pt;
    border: 0px;
    width: 18px;
    height: 13px;
}

.connection_info
{
    float: left;
    padding-bottom: 5px;
}

.connection_info > table
{
    white-space: nowrap;
}

.connection_info, .connection_info > table
{
    text-align: left;
    font-size: 11px;
    color: #ffffff;
}

#localVideoContainer>span.status:hover,
#localVideoContainer>span.displayname:hover {
    cursor: text;
}

.videocontainer>span.status,
.videocontainer>span.displayname {
    pointer-events: none;
}

.videocontainer>input.displayname {
    height: auto;
}

#localDisplayName {
    pointer-events: auto !important;
}

.videocontainer>a.status,
.videocontainer>a.displayname {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    right: 0;
    padding: 3px 5px;
    font-size: 9pt;
    cursor: pointer;
    z-index: 2;
}

.videocontainer>span.audioMuted {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    padding: 8px 5px;
    width: 25px;
    font-size: 8pt;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border: 0px;
    z-index: 3;
    text-align: center;
}

.videocontainer>span.videoMuted {
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    right: 0;
    padding: 8px 5px;
    width: 25px;
    font-size: 8pt;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    border: 0px;
    z-index: 3;
}

.videocontainer>span.indicator {
    bottom: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    z-index: 3;
    text-align: center;
    border-radius: 50%;
    background: #21B9FC;
    margin: 5px;
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    font-size: 11pt;
    border: 0px;
}

#indicatoricon {
    padding-top: 5px;
}

#reloadPresentation {
    display: none;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    right:0;
    padding: 10px 10px;
    font-size: 11pt;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    z-index: 20; /*The reload button should appear on top of the header!*/
}

#header{
    display:none;
    position:absolute;
    text-align:center;
    top:0;
    left:0;
    right:0;
    z-index:10;
    pointer-events: none;
    min-height: 100px;
}

#subject {
    position: relative;
    z-index: 3;
    width: auto;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,.85) , rgba(255,255,255,.35));
    box-shadow: 0 0 2px #000000, 0 0 10px #000000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: none;
}

.audiolevel {
    display: inline-block;
    position: absolute;
    z-index: 0;
    border-radius:1px;
    pointer-events: none;
}

#dominantSpeaker {
    visibility: hidden;
    width: 300px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#dominantSpeakerAudioLevel {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    visibility: inherit;
}

#mixedstream {
    display:none !important;
}

#dominantSpeakerAvatar {
    width: 200px;
    height: 200px;
    top: 50px;
    margin: auto;
    position: relative;
    border-radius: 100px;
    z-index: 3;
    visibility: inherit;
    background-color: #000000;
}

.userAvatar {
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 2px;
}

.sharedVideoAvatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.noMic {
    position: absolute;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../images/noMic.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

.noVideo {
    position: absolute;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../images/noVideo.png");
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

.videoMessageFilter {
    -webkit-filter: grayscale(.5) opacity(0.8);
    filter: grayscale(.5) opacity(0.8);
}

.videoProblemFilter {
    -webkit-filter: blur(10px) grayscale(.5) opacity(0.8);
    filter: blur(10px) grayscale(.5) opacity(0.8);
}

#videoConnectionMessage {
    display: none;
    position: absolute;
    width: 100%;
    top:50%;
    z-index: 1011;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    opacity: .80;
    text-shadow:    0px 0px 1px rgba(0,0,0,0.3),
                    0px 1px 1px rgba(0,0,0,0.3),
                    1px 0px 1px rgba(0,0,0,0.3),
                    0px 0px 1px rgba(0,0,0,0.3);
}

#videoResolutionLabel {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0,0,0,.5);
    padding: 10px;
    color: rgba(255,255,255,.5);
    z-index: 1011;
}

.centeredVideoLabel {
    display: none;
    position: absolute;
    bottom: 45%;
    top: auto;
    right: auto;
    left: auto;
    line-height: 28px;
    height: 28px;
    width: auto;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0,0,0,.5);
    color: #FFF;
    z-index: 1011;
    border-radius: 2px;
    -webkit-transition: all 2s 2s linear;
    transition: all 2s 2s linear;
}

.moveToCorner {
    top: 5px;
    right: 50px; /*leave free space for the HD label*/
    margin-right: 0px;
    margin-left: auto;
    background: rgba(0,0,0,.3);
    color: rgba(255,255,255,.5);
}

.hidden {
}
