.share-audio-dialog {
    .share-audio-animation {
        width: 100%;
        height: 90%;
        object-fit: contain;
        margin-bottom: 10px;
    }

    .separator-line {
        margin: 24px 0 24px -20px;
        padding: 0 20px;
        width: 100%;
        height: 1px;
        background: #5E6D7A;

        &:last-child {
            display: none;
        }
    }
}