.urlHeader {
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 16px
}

.alignment {
    height: 34px;
    margin: 3px;
    width: 49px;
    justify-content: center;
    align-items: center
}

.showImg {
    height: 28px;
    width: 40px;
}

.urlP {
    text-align: center;
    font-size: 14px;
    color: white;
}
