/**
 * Base
 */
$baseLight: #FFFFFF;

/**
* Controls
*/
$sliderTrackBackground: #474747;
$sliderThumbBackground: #3572b0;

/**
* Buttons
*/
$buttonBackground: #44A5FF;
$buttonHoverBackground: #2c4062;
$buttonBorder: transparent;
$buttonHoverBorder: transparent;
$buttonColor: #eceef1;

$buttonLightBackground: #f5f5f5;
$buttonLightHoverBackground: #e9e9e9;
$buttonLightBorder: #ccc;
$buttonLightHoverBorder: #999;

$buttonLinkBackground: transparent;
$buttonLinkColor: #0090e8;

$primaryButtonBackground: #3572b0;
$primaryButtonHoverBackground: #2a67a5;
$primaryButtonColor: $baseLight;
$primaryButtonFontWeight: 400;

$buttonShadowColor: #192d4f;

$overlayButtonBg: #0074E0;

/**
* Color variables
**/
$defaultBackground: #474747;
$reloadProgressBarBg: #0074E0;

/**
 * Dialog colors
 **/
$dialogErrorText: #344563;

/**
* Inlay colors
**/
$inlayColorBg: lighten($defaultBackground, 20%);
$inlayBorderColor: lighten($baseLight, 10%);

// Main controls
$placeHolderColor: #a7a7a7;
$readOnlyInputColor: #a7a7a7;
$defaultDarkSelectionColor: #ccc;
$buttonFontWeight: 400;
$labelFontWeight: 400;
$linkFontColor: #3572b0;
$linkHoverFontColor: darken(#3572b0, 10%);
$errorColor: #c61600;


// Popover colors
$popoverFontColor: #ffffff !important;
$popupSliderColor: #0376da;

// Toolbar
$toolbarBackground: rgba(0, 0, 0, 0.5);
$toolbarBadgeBackground: #165ECC;
$toolbarBadgeColor: #FFFFFF;

/**
 * Forms
 */
$selectBg: $baseLight;
