.unsupported-mobile-browser {
    background-color: #fff;
    height: 100vh;
    padding: 35px 0;
    width: 100vw;

    a {
        text-decoration: none
    }

    &__body {
        color: $unsupportedBrowserTextColor;
        margin: auto;
        max-width: 40em;
        text-align: center;
        width: 75%;

        a:active {
            text-decoration: none;
        }
    }

    &__text {
        font-size: 1.2em;
        line-height: em(29px, 21px);
        margin-bottom: 0.65em;

        &_small {
            font-size: 1.5em;
            margin-bottom: 1em;
            margin-top: em(21, 18);

            strong {
                font-size: em(21, 18);
            }
        }
    }

    &__logo {
        height: 108px;
        width: 77px;
    }

    &__button {
        border: 0;
        height: 2.2857142857142856em;
        line-height: 2.2857142857142856em;
        margin: 18px auto 20px;
        max-width: 300px;
        width: auto;
        @include border-radius(3px);
        background-color: $unsupportedBrowserButtonBgColor;
        color: #505F79;

        &:active {
            background-color: $unsupportedBrowserButtonBgColor;
        }

        &_primary {
            background-color: $primaryUnsupportedBrowserButtonBgColor;
            color: #FFFFFF;

            &:active {
                background-color: $primaryUnsupportedBrowserButtonBgColor;
            }
        }
    }
}
