.unsupported-desktop-browser {
    @include absoluteAligning();

    display: block;
    text-align: center;

    &__title {
        color: #fff;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 1px;
    }

    &__description {
        margin-top: 16px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        font-size: 21px;
        letter-spacing: 1px;

        &_small {
            @extend .unsupported-desktop-browser__description;
            font-size: 16px;
        }
    }

    &__link {
        color: $linkFontColor;
        @include transition(color .1s ease-out);

        &:hover {
            color: $linkHoverFontColor;
            cursor: pointer;
            text-decoration: none;

            @include transition(color .1s ease-in);
        }
    }
}
