.reload_overlay_title {
    display: block;
    font-size: 16px;
    line-height: 20px;
}

.reload_overlay_text {
    display: block;
    font-size: 12px;
    line-height: 30px;
}

#reloadProgressBar {
    width: 180px;
    margin: 5px auto;
    > .aui-progress-indicator-value {
        background: $reloadProgressBarBg;
    }
}
