.reload_overlay_title {
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
}

.reload_overlay_text {
    display: block;
    font-size: 0.75rem;
    line-height: 1.875rem;
}

#reloadProgressBar {
    background: #e9e9e9;
    border-radius: 3px;
    height: 5px;
    margin: 5px auto;
    overflow: hidden;
    width: 180px;

    .progress-indicator-fill {
        background: #0074E0;
        height: 100%;
        transition: width .5s;
    }
}
