# The base url that will be used for the test (default will be using "https://alpha.jitsi.net")
#BASE_URL=

# To be able to match a domain to a specific address
# The format is "MAP example.com 1.2.3.4"
#RESOLVER_RULES=

# Ignore certificate errors (self-signed certificates)
#ALLOW_INSECURE_CERTS=true

# Whether to run the browser in headless mode
#HEADLESS=false

# The path to the browser video capture file
#VIDEO_CAPTURE_FILE=tests/resources/FourPeople_1280x720_30.y4m
