# The base url that will be used for the test (default will be using "https://alpha.jitsi.net")
# If there is a tenant in the URL it must end with a slash (e.g. "https://alpha.jitsi.net/sometenant/")
#BASE_URL=

# Room name suffix to use when creating new room names
# ROOM_NAME_SUFFIX=

# To be able to match a domain to a specific address
# The format is "MAP example.com 1.2.3.4"
#RESOLVER_RULES=

# Ignore certificate errors (self-signed certificates)
#ALLOW_INSECURE_CERTS=true

# Whether to run the browser in headless mode
#HEADLESS=false

# The path to the browser video capture file
#VIDEO_CAPTURE_FILE=tests/resources/FourPeople_1280x720_30.y4m

# The tenant used when executing the iframeAPI tests, will override any tenant from BASE_URL if any
#IFRAME_TENANT=

# The grid host url (https://mygrid.com/wd/hub)
#GRID_HOST_URL=

# The path to the private key used for generating JWT token (.pk)
#JWT_PRIVATE_KEY_PATH=
# The kid to use in the token
#JWT_KID=

# An access token to use to create meetings (used for the first participant)
#JWT_ACCESS_TOKEN=

# The count of workers that execute the tests in parallel
# MAX_INSTANCES=1

# The address of the webhooks proxy used to test the webhooks feature (e.g. wss://your.service/?tenant=sometenant)
#WEBHOOKS_PROXY_URL=
# A shared secret to authenticate the webhook proxy connection
#WEBHOOKS_PROXY_SHARED_SECRET=

# A rest URL to be used by dial-in tests to invite jigasi to the conference
#DIAL_IN_REST_URL=

# Whether to use beta for the first participants
#BROWSER_CHROME_BETA=false
#BROWSER_FF_BETA=false
