.security {
    &-dialog {
        color: $ADFC-color;
        font-size: 15px;
        line-height: 24px;
        
        .info-dialog-password{
            margin-right: 5px;
            max-width: 200px;
        }

        &.password {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-actions {
                a {
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 14px;
                    background: $ADFC-blue;
                    border: 1px solid darken( $ADFC-blue, 20% );
                    color: white;
                    margin-right: 5px;
                    padding: 5px;
                    border-radius: 3px 3px 0 0;
                }

                & > :first-child:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }

        .info-password-input {
            padding: 3px;
            border:  1px solid darken( $ADFC-blue, 20% );
            margin-right: 10px;
        }
    }
}

.new-toolbox .toolbox-content .toolbox-icon.security-toolbar-button,
.new-toolbox .toolbox-content .toolbox-icon.toggled.security-toolbar-button {
    background: $ADFC-orange;
    border: 1px solid darken( $ADFC-orange, 20% );

    &:hover {
        background: darken( $ADFC-orange, 10% );
        border: 1px solid darken( $ADFC-orange, 20% );
    }
}
