.security {
    &-dialog {
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.5rem;

        &.password-section {
            display: flex;
            flex-direction: column;

            .description {
                font-size: 0.75rem;
            }

            .password {
                align-items: flex-start;
                display: flex;
                justify-content: flex-start;
                margin-top: 15px;
                flex-direction: column;

                &-actions {
                    margin-top: 10px;
                    button {
                        cursor: pointer;
                        text-decoration: none;
                        font-size: 0.875rem;
                        color: #6FB1EA;
                    }

                    & > :not(:last-child) {
                        margin-right: 24px;
                    }
                }
            }
        }

        .separator-line {
            margin: 24px 0 24px -20px;
            padding: 0 20px;
            width: 100%;
            height: 1px;
            background: #5E6D7A;

            &:last-child {
                display: none;
            }
        }
    }
}

.new-toolbox .toolbox-content .toolbox-icon.toggled.security-toolbar-button {
    border-width: 0;

    &:not(:hover) {
        background: unset;
    }
}