.security {
    &-dialog {
        color: #fff;
        font-size: 15px;
        line-height: 24px;

        &.password-section {
            display: flex;
            flex-direction: column;

            .password {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                &-actions {
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        font-size: 14px;
                        color: #6FB1EA;
                    }

                    &>a+a {
                        margin-left: 24px;
                    }
                }
            }
        }

        &> :first-child:not(:last-child) {
            margin-right: 24px;
        }

        .separator-line {
            margin: 24px 0 24px -20px;
            padding: 0 20px;
            width: 100%;
            height: 1px;
            background: #5E6D7A;

            &:last-child {
                display: none;
            }
        }
    }
}

.new-toolbox .toolbox-content .toolbox-icon.security-toolbar-button,
.new-toolbox .toolbox-content .toolbox-icon.toggled.security-toolbar-button {
    background: rgba(241, 173, 51, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);

    &:hover {
        background: rgba(241, 173, 51, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
}