
.select2-container{
    width: 100%;
    background-color: transparent;

    a.select2-choice,
    a.select2-choice .select2-arrow {
        height: 28px !important;
        line-height: 28px !important;
        background-color: $selectBg;
        background-image: none;
        border-color: $selectBg !important;
    }
    a.select2-choice {
        color: $selectFontColor !important;
        text-shadow: none !important;
        font-size: 12px !important;
        margin: 0 auto !important;

        &:after {
            border-top-color: $selectFontColor;
        }
    }

    &.select2-dropdown-open{
        a.select2-choice {
            background-color: $selectActiveBg !important;
            border-color: $selectActiveBg !important;
            box-shadow: none;
        }
    }

    .select2-arrow {
        border-left: none;
    }
}

.select2-drop {
    width: 100%;
    z-index: $dropdownZ;
    background-color: $selectActiveBg;
    border-color: $selectActiveBg;

    .select2-results{
        background-color: $selectActiveBg;
        border-color: $selectActiveBg;
        color: $selectFontColor;

        &::-webkit-scrollbar {
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-track-piece {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $selectActiveItemBg;
        }

        .select2-result{
            &.select2-highlighted{
                background-color: $selectActiveItemBg;
            }

            .select2-result-label{
                font-size: 12px;
                line-height: 20px;
            }
        }

    }
}

.select2-drop-mask {
    z-index: $dropdownMaskZ;
}