form.aui {
    .aui-select2-container {
        background-color: transparent;

        > a {
            background-color: $inputBg !important;
            color: $inputFontColor !important;
            border-color: $inputBg !important;
            text-shadow: none !important;
            margin: 0 auto !important;
            width: 100% !important;
        }
    }
}

.select2-results{
    &::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #3572b0;
    }
}

.aui-select2-drop {
    z-index: 901;
}

.select2-drop-mask {
    z-index: 900;
}

.aui-dropdown2.aui-style-default.dropdown-dark {
    background-color: $defaultBackground;
    border-color: transparent;
}