.poll-answers {
    color: #FFFFFF !important;
}

.poll-question-field {
    margin-bottom: 1.5em;
    
    input {
        font-size: 1.25em;
    }
}

.poll-answer-fields {
    list-style-type: none;
    padding: 0;
    
    li {
        display: flex;
        align-items: center;
        
        & > *:not(:last-child) {
            margin-right: 2px;
        }
    }
}

.poll-add-button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.poll-icon-button {
    background-color: #345;
    border: none;
    padding: 3px;
}

.poll-icon-button, .poll-drag-handle {
    .jitsi-icon svg {
        fill: #bce;
    }
}

.poll-drag-handle {
    background-color: transparent;
    border: none;
    cursor: grab;
    padding: 0;
    align-self: stretch;
    vertical-align: middle;
}

.poll-dragged {
    opacity: 0.5;
    * {
        cursor: grabbing !important;
    }
}

.poll-question {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.poll-notice {
    margin-top: 5px;
    font-size: 11px;
    font-weight: 100;
}
