<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jitsi.meet"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- XXX: ACCESS_NETWORK_STATE is required by WebRTC. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".MainApplication"
      android:theme="@style/AppTheme">
      <activity
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:name=".MainActivity"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:host="beta.hipchat.me" android:scheme="https" />
            <data android:host="beta.meet.jit.si" android:scheme="https" />
            <data android:host="chaos.hipchat.me" android:scheme="https" />
            <data android:host="enso.me" android:scheme="https" />
            <data android:host="hipchat.me" android:scheme="https" />
            <data android:host="meet.jit.si" android:scheme="https" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="org.jitsi.meet" />
        </intent-filter>
      </activity>
      <activity
        android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>
</manifest>
