@-webkit-keyframes shake-rotate {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
        transform:scale(1) rotate(0deg)
    }

    50% {
        -webkit-transform:scale(.8) rotate(-5deg);
        transform:scale(.8) rotate(-5deg)
    }

    to {
        -webkit-transform:scale(1) rotate(3deg);
        transform:scale(1) rotate(3deg)
    }
}

@keyframes shake-rotate {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
        transform:scale(1) rotate(0deg)
    }

    50% {
        -webkit-transform:scale(.8) rotate(-5deg);
        transform:scale(.8) rotate(-5deg)
    }

    to {
        -webkit-transform:scale(1) rotate(3deg);
        transform:scale(1) rotate(3deg)
    }
}

.shake-rotate {
    display: inline-block;

    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: shake-rotate;
    animation-name: shake-rotate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}
