@-webkit-keyframes shake-rotate {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
        transform:scale(1) rotate(0deg)
    }

    50% {
        -webkit-transform:scale(.8) rotate(-5deg);
        transform:scale(.8) rotate(-5deg)
    }

    to {
        -webkit-transform:scale(1) rotate(3deg);
        transform:scale(1) rotate(3deg)
    }
}

@keyframes shake-rotate {
    0% {
        -webkit-transform:scale(1) rotate(0deg);
        transform:scale(1) rotate(0deg)
    }

    50% {
        -webkit-transform:scale(.8) rotate(-5deg);
        transform:scale(.8) rotate(-5deg)
    }

    to {
        -webkit-transform:scale(1) rotate(3deg);
        transform:scale(1) rotate(3deg)
    }
}

.shake-rotate {
    display: inline-block;

    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: shake-rotate;
    animation-name: shake-rotate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.feedback.aui-dialog2{
    .aui-dialog2{
        &-header {
            background-color: $feedbackContentBg;
            border-bottom-color: transparent;
            padding-top: 30px;
            h2 {
                color: $feedbackTextColor;
                text-align: center;
            }
        }

        &-content {
            background-color: $feedbackContentBg;
            text-align: center;
            padding: 10px 40px 20px 40px;

            .input-control {
                background-color: $feedbackInputBg;
                color: $feedbackInputTextColor;

                &::-webkit-input-placeholder {
                    color: $feedbackInputPlaceholderColor;
                }
                &::-moz-placeholder {  /* Firefox 19+ */
                    color: $feedbackInputPlaceholderColor;
                }
                &:-ms-input-placeholder {
                    color: $feedbackInputPlaceholderColor;
                }
            }

            .rating {
                line-height: 1.2;
                text-align: center;
                margin-top: 10px;

                .star-label {
                    height: 16px;
                    font-size: 14px;
                    color: $rateStarLabelColor;
                }
                .star-btn {
                    display: inline-block;
                    color: $rateStarDefault;
                    font-size: $rateStarSize;
                    position: relative;
                    cursor: pointer;
                    outline: none;
                    text-decoration: none;
                    @include transition(all .2s ease);

                    &.starHover,
                    &.active,
                    &:hover {
                        color: $rateStarActivity;
                    };

                }
            }

            .details {
                padding-left: 60px;
                padding-right: 60px;
                margin-top: 20px;
                textarea {
                    min-height: 100px;
                }
            }
        }
        &-footer {
            background-color: $feedbackContentBg;
            border-top-color: transparent;

            .button-control {
                color: $feedbackCancelFontColor;
            }
        }
    }
}