.input-control {
    padding: 16px 0;

    &__text {
        margin: 8px 0;
        font-size: 1em
    }

    &__label {
        font-size: 1em;
        font-weight: $labelFontWeight;
    }

    &__input {
        margin: 8px 0;

        &::selection {
            background-color: $defaultDarkSelectionColor;
        }
    }

    &__em {
        color: $inputControlEmColor;
    }

    &__hint {
        margin-top: 0;
        font-size: $hintFontSize;

        span {
            vertical-align: middle;
        }
    }

    &__container {
        position: relative;
        width: 100%;
        @include flex();

        .button-control {
            margin: 9px 0 9px 10px;
        }
    }

    &__right {
        position: absolute;
        right: 0;
    }
}

input:read-only {
    color: $readOnlyInputColor;
}