<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35800320046-matighf53bo8gdm5ib6snclvk7gneaq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35800320046-matighf53bo8gdm5ib6snclvk7gneaq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBoxziU9MwZXxba9CAWYgUWCZb84q-fQCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>35800320046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.janeapp.videochat.qa</string>
	<key>PROJECT_ID</key>
	<string>jane-video-native</string>
	<key>STORAGE_BUCKET</key>
	<string>jane-video-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35800320046:ios:ae5204cb6e9e25e7deb7bf</string>
	<key>DATABASE_URL</key>
	<string>https://jane-video-native.firebaseio.com</string>
</dict>
</plist>