.speaker-stats {
    list-style: none;
    .row{
        display: flex;
        align-items: center;
        .avatar {
            width: 32px;
            margin-right: 16px;
        }
        .name-time {
            width: calc(100% - 48px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
        .name-time_expressions-on {
            width: calc(47% - 48px);
        }
        .expressions {
            width: calc(53% - 29px);
            display: flex;
            justify-content: space-between;
            .expression {
                width: 30px;
                text-align: center;
            }
        }
    }
}
