.lobby-screen {
  justify-content: center;
  align-items: center;
  background-image: url("/images/lobby-bg.jpg") !important;
  background-repeat: no-repeat !important;    
  background-position: center !important;
  background-size: cover !important;
}

.lobby-screen .lobby-screen-content .meeting-name {
    color: white;
}

.lobby-title {
  position: absolute;
  z-index: 1000;
  color: #000;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
  background: #ffffff4d !important;
}

@media (max-width: 720px) {
  .lobby-title {
    font-size: 2rem;
  }
}
 
.lobby-screen .content-controls div { 
  color: #000 !important;
}  
.lobby-screen .content-controls .title { 
  color: #000 !important;
}
.lobby-screen .content-controls .new-toolbox {
  background: #000000a6;
  border-radius: 10px;
}
 
.lobby-screen .content {
  background: #ffffff4d !important;
  height: initial !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: initial !important;
}
.lobby-screen #preview {
  height: 300px;
  width: 420px;
}
.lobby-screen #preview .avatar {
  height: 130px !important;
  width: 130px !important;
}
 
@media (max-width: 720px) {
  .lobby-screen #preview {
    margin-bottom: 20px;
  }
}

