#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# certificate type choice
db_input critical jitsi-meet/cert-choice || true
db_go

# ssl key file path
#db_input critical jitsi-meet/cert-path-key || true
#db_go

# ssl cert file path
#db_input critical jitsi-meet/cert-path-crt || true
#db_go
