.device {
    &-status {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 14px;
        line-height: 20px;
        padding: 6px;
        text-align: center;

        &-error {
            align-items: flex-start;
            background-color: #F8AE1A;
            border-radius: 6px;
            color: #040404;
            padding: 12px 16px;
            text-align: left;
        }

        span {
            margin-left: 16px;
        }
    }

    &-icon {
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        width: 16px;

        &--ok {
            svg path {
                fill: #189b55;
            }
        }
    }
}
