.prejoin {
    &-input-area {
        width: 100%;
    }

    &-avatar {
        margin: 8px auto 16px;

        &-name {
            color: white;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            margin-bottom: 32px;
            text-align: center;
        }

        &-container {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }

    &-error {
        background-color: #E04757;
        border-radius: 6px;
        box-sizing: border-box;
        color: white;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;
        margin-top: -8px;
        padding: 4px;
        text-align: center;
        width: 100%;
    }
}

.prejoin-preview {
    &-dropdown-btns {
        padding: 8px 0;
    }
  
    &-dropdown-container {
        position: relative;
        width: 100%;
  
        /**
        * Override default InlineDialog behaviour, since it does not play nicely with relative widths
        */
        & > div:nth-child(2) {
            background: #fff;
            padding: 0;
            position: absolute !important;
            width: 100%;
        }
    }
  }
  