.info-dialog {
    cursor: default;
    display: flex;

    .info-dialog-action-link {
        display: inline-block;
        line-height: 1.5em;

        a {
            cursor: pointer;
            vertical-align: middle;
        }
    }

    .info-dialog-action-link:before {
        color: $linkFontColor;
        content: '\2022';
        font-size: 1.5em;
        padding: 0 10px;
        vertical-align: middle;
    }

    .info-dialog-action-link:first-child:before {
        content: '';
        padding: 0;
    }

    .info-dialog-action-links {
        font-weight: bold;
        margin-top: 10px;
        white-space: nowrap;
    }

    .info-dialog-action-separator {
        display: inline-block;
    }

    .info-dialog-copy-element {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        -webkit-user-select: text;
        user-select: text;
    }

    .info-dialog-column {
        margin-right: 10px;
        overflow: hidden;

        a,
        a:active,
        a:focus,
        a:hover {
            text-decoration: none;
        }
    }

    .info-dialog-conference-url {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: text;
        white-space: nowrap;
    }

    .info-dialog-dial-in {
        white-space: nowrap;

        .conference-id,
        .phone-number {
            user-select: text;
        }
    }

    .info-dialog-icon {
        color: #6453C0;
        font-size: 16px;
    }

    .info-dialog-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .info-password,
    .info-dialog-password,
    .info-password-form {
        display: flex;
    }

    .info-password-field {
        margin-left: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .info-password-none,
    .info-password-remote {
        opacity: 0.5;
    }

    .info-password-input {
        background-color: transparent;
        border: none;
        color: inherit;
        padding-left: 0;
    }

    .info-password-local {
        user-select: text;
    }

    .conference-id {
        margin-left: 5px;
    }
}

.dial-in-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    width: 100%;

    * {
        user-select: text;
    }

    .dial-in-numbers-list {
        font-size: 24px;
        margin-top: 20px;
    }

    .dial-in-conference-id {
        text-align: center;
        width: 30%;
    }
}
