/*
 * Sets the default cursor the remove password link. The link doesn't use
 * the href attribute, so we need to set the  cursor manually.
 */
#inviteDialogRemovePassword {
    cursor: hand;
}

.invite-dialog {
    .form-control {
        padding: 0;
    }

    .inviteLink {
        color: $readOnlyInputColor;
    }

    .lock-state {
        display: flex;
    }

    .password-overview {
        .form-control {
            margin-top: 10px;
        }

        .password-overview-status,
        .remove-password {
            display: flex;
            justify-content: space-between;
        }

        .password-overview-toggle-edit,
        .remove-password-link {
            cursor: pointer;
            text-decoration: none;
        }

        .remove-password {
            margin-top: 15px;
        }
    }

    .remove-password-current {
        color: $inputControlEmColor;
    }
}
