.deep-linking-desktop {
    background-color: #fff;
    width: 100%;
    height: 100%;
    .header {
        width: 100%;
        height: 55px;
        background-color: #f1f2f5;
        padding-top: 15px;
        padding-left: 50px;
        .logo {
            height: 40px;
        }
    }
    .content {
        top: 110px;
        bottom: 40px;
        left: 0px;
        right: 0px;
        position: fixed;
        display: flex;
        .leftColumn {
            left: 0px;
            width: 50%;
            height: 100%;
            .leftColumnContent{
                padding: 20px;
                .image {
                    background-image: url('../images/deep-linking-image.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    height: 100%;
                    width: 100%;
                }
            }

        }
        .rightColumn {
            top: 0px;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            .rightColumnContent {
                padding: 20px 20px 20px 60px;
                .title {
                    color: #1c2946;
                }
                .description {
                    color: #606a80;
                    margin-top: 8px;
                }
                .buttons {
                    margin-top: 16px;
                }
            }
        }
    }
}
