.dialog {
    height: auto;

    .aui {

        &-icon {
            color: $auiDialogColor;

            &-small {
                width: 14px;
                height: 14px;
            }
        }

        &-iconfont-close-dialog {
            cursor: pointer;
            right: 20px;
            position: absolute;
            top: -49px;
        }

        &-dialog2 {
            &-header {
                height: em(58, 12);
                h2 {
                    font-size: em(20, 12);
                    font-weight: 300;
                    letter-spacing: 1px;
                    color: $auiDialogColor;
                }

                &-main {
                    padding-right: 0;
                }
            }

            &-header, &-footer {
                background-color: $auiDialogBg;
                border: none;
            }

            &-content {
                font-size: em(14, 12);
                min-height: 0;
                background-color: $auiDialogContentBg;
                color: $auiDialogColor;

                p,span, h3 {
                    font-weight: 300;
                    letter-spacing: 0.5px;
                }

                &:last-child {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:first-child {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }
        }

        &-button {
            border: none;
            outline: none;
            background-color: transparent;
            font-weight: 400;
            float: right;
            margin-left: 10px;
            color: $auiDialogColor;
            letter-spacing: 0.5px;

            &-primary {
                background-color: $auiPrimaryButtonBg;

                &:hover {
                    background-color: $auiPrimaryButtonHoverBg;
                }
            }

            &_close {
                color: $defaultColor;
            }
            &_submit {
                color: $linkFontColor;
                &:hover {
                    color: $linkHoverFontColor;
                }
            }
        }
    }

    .input-control:not(:last-child) {
        border-bottom: 1px solid $hrColor;
    }
}
