.modal-dialog-form {
    margin-top: 5px !important;

    .input-control {
        background: $modalMockAKInputBackground;
        border: $modalMockAKInputBorder;
        color: inherit;
    }

    &-error {
        margin-bottom: 8px;
    }
}

/**
 * Styling inline dialog errors.
 */
.inline-dialog-error {
    margin-top: 16px;

    &-text {
        color: $dialogErrorText;
        margin-bottom: 8px;
        text-align: center;
    }

    &-button {
        display: block;
        margin: 16px auto 0 auto;
    }
}

/**
 * Styling shared video dialog errors.
 */
.shared-video-dialog-error {
    color: #E04757;
    margin-top: 2px;
    display: block;
}
