
org.jitsi.jicofo.BRIDGE_MUC=JvbBrewery@internal.auth.cefis.live
org.jitsi.jicofo.ALWAYS_TRUST_MODE_ENABLED=true

org.jitsi.jicofo.jibri.BREWERY=JibriBrewery@internal.auth.cefis.live
org.jitsi.jicofo.jibri.PENDING_TIMEOUT=90
