# Jitsi Videobridge settings

# sets the XMPP domain (default: none)
JVB_HOSTNAME=meet.example.com

# sets the hostname of the XMPP server (default: domain if set, localhost otherwise)
JVB_HOST=

# sets the port of the XMPP server (default: 5275)
JVB_PORT=5347

# sets the shared secret used to authenticate to the XMPP server
JVB_SECRET=$VP_SECRET

# extra options to pass to the JVB daemon
JVB_OPTS="--apis=rest,"

# adds java system props that are passed to jvb (default are for home and logging config file)
JAVA_SYS_PROPS=" \
    -Dnet.java.sip.communicator.SC_HOME_DIR_LOCATION=/etc/jitsi \
    -Dnet.java.sip.communicator.SC_HOME_DIR_NAME=videobridge \
    -Dnet.java.sip.communicator.SC_LOG_DIR_LOCATION=/var/log/jitsi \
    -Djava.util.logging.config.file=/etc/jitsi/videobridge/logging.properties \
"
