.filmstrip__toolbar {
    @include flex();
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    position: relative;
    width: $filmstripToggleButtonWidth;

    button {
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        background: transparent;
        opacity: 0.7;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;

        -webkit-appearance: none;

        &:hover {
            opacity: 1;
        }

        i {
            cursor: pointer;
        }
    }
}
