.filmstrip__videos .videocontainer {
    display: none;
    position: relative;
    background-size: contain;
    border: $thumbnailVideoBorder solid transparent;
    border-radius: $borderRadius;
    margin: 0 $thumbnailVideoMargin;

    &.videoContainerFocused, &:hover {
        cursor: hand;
    }

    /**
     * Focused video thumbnail.
     */
    &.videoContainerFocused {
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -webkit-animation-name: greyPulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
        border: $thumbnailVideoBorder solid $videoThumbnailSelected !important;
        box-shadow: inset 0 0 3px $videoThumbnailSelected,
        0 0 3px $videoThumbnailSelected !important;
    }

    .remotevideomenu > .icon-menu {
        display: none;
    }

    /**
     * Hovered video thumbnail.
     */
    &:hover {
        cursor: hand;
        border: $thumbnailVideoBorder solid $videoThumbnailHovered;
        box-shadow: inset 0 0 3px $videoThumbnailHovered,
        0 0 3px $videoThumbnailHovered;

        .remotevideomenu > .icon-menu {
            display: inline-block;
        }
    }

    & > video {
        cursor: hand;
        border-radius: $borderRadius;
        object-fit: cover;
        overflow: hidden;
    }

    .presence-label {
        position: absolute;
        z-index: $zindex3;
    }
}
