/**
 * The Microsoft sign in button must follow Microsoft's brand guidelines.
 * See: https://docs.microsoft.com/en-us/azure/active-directory/
 *     develop/active-directory-branding-guidelines
 */
.microsoft-sign-in {
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #8C8C8C;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: Segoe UI, Roboto, arial, sans-serif;
    height: 41px;
    padding: 12px;

    .microsoft-cta {
        display: inline-block;
        color: #5E5E5E;
        font-size: 0.875rem;
        line-height: 2.5rem;
    }

    .microsoft-logo {
        display: inline-block;
        margin-right: 12px;
    }
}
