.regular-key {
    display: table-cell;
    width: 25px;
    height: 20px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-family: $baseFontFamily;
    color: $defaultDarkColor;
    font-size: 12px;
}