name: SonarCloud code analysis
on:
    push:
        branches:
            - main
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    sonarcloud:
        name: SonarCloud
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '24.x'
                cache: yarn

            - name: Add .npmrc
              run: cp .npmrc.template .npmrc

            - name: Install dependencies
              run: yarn

            - name: Test and coverage
              run: yarn test:coverage

            - name: SonarCloud Scan
              uses: SonarSource/sonarcloud-github-action@v3
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
